<!DOCTYPE html>
<html lang="en">
<head>
    <title>Agrifora</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="icon" type="image/png" sizes="32x32" href="shuffle-for-bootstrap.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap/foot.css">

  
</head>
<body>
   
        
     
        <nav class="d-lg-none navbar navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="d-inline-block h3 mb-0 text-decoration-none text-white" href="#">
              <img src="sirius-assets/images/logos/sirius-logo.png" alt="" width="96px">
            </a>
            <button class="navbar-burger navbar-toggler" type="button">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </nav>
        <div class="position-relative navbar-menu d-none d-lg-block" style="z-index: 9999;">
          <div class="navbar-backdrop d-lg-none position-fixed top-0 end-0 bottom-0 start-0 bg-dark" style="opacity: .5"></div>
          <div class="position-fixed top-0 start-0 bottom-0 col-8 mw-xs px-6 pt-8 pb-8 bg-dark overflow-auto">
            <a class="d-inline-block h3 mb-10 text-decoration-none text-white" href="#">
              <img src="sirius-assets/images/logos/sirius-logo.png" alt="" width="220px">
            </a>
        
            <ul class="mb-8 mb-md-24 list-unstyled">
              <li class="mb-2">
                <a class="d-flex py-3 px-4 align-items-center text-decoration-none rounded bg-secondary text-white fw-bold" href="/">
                  <svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.8735 16.875V9.02647C16.8735 8.93939 16.8553 8.85327 16.8201 8.77363C16.7849 8.69399 16.7334 8.62259 16.669 8.56402L10.4185 2.88159C10.3035 2.77699 10.1536 2.71903 9.99808 2.71904C9.84259 2.71905 9.69269 2.77701 9.57765 2.88161L3.32807 8.56402C3.26365 8.6226 3.21218 8.69399 3.17695 8.77362C3.14173 8.85326 3.12354 8.93937 3.12354 9.02645V16.875" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M1.24854 16.875H18.7485" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M11.873 16.8743V12.4993C11.873 12.3336 11.8072 12.1746 11.69 12.0574C11.5728 11.9402 11.4138 11.8743 11.248 11.8743H8.74805C8.58229 11.8743 8.42331 11.9402 8.3061 12.0574C8.18889 12.1746 8.12305 12.3336 8.12305 12.4993V16.8743" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                  <span>Dashboard</span>
                </a>
              </li>
              <li class="mb-2">
                <a class="d-flex py-3 px-4 align-items-center text-decoration-none text-white fw-bold" href="#" data-bs-toggle="collapse" data-bs-target="#menus1-4">
                  <svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.8125 16.25H2.1875" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M7.8125 16.25V6.875H12.1875" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M16.5625 3.125H12.1875V16.25H16.5625V3.125Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M3.4375 16.25V10.625H7.8125" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                  <span>Inventory Management</span>
                  <span class="ms-auto">
                    <svg width="10" height="7" viewbox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M8.75 1.5L5 5.25L1.25 1.5" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </span>
                </a>
                <div class="collapse ps-6" id="menus1-4">
                  <a class="d-flex mb-2 py-3 px-4 align-items-center text-decoration-none text-white fw-bold" href="products">
                    <svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.95325 10.3282L11.8907 3.1407L16.875 3.125L16.8593 8.1093L9.67184 14.0468" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M7.8125 12.1875L12.5 7.5" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M6.41732 15.4262L4.07817 17.7654C4.02013 17.8234 3.95123 17.8695 3.8754 17.9009C3.79957 17.9323 3.7183 17.9484 3.63622 17.9484C3.55415 17.9484 3.47288 17.9323 3.39705 17.9009C3.32122 17.8695 3.25232 17.8234 3.19428 17.7654L2.23457 16.8057C2.17654 16.7476 2.1305 16.6787 2.09909 16.6029C2.06768 16.5271 2.05151 16.4458 2.05151 16.3637C2.05151 16.2817 2.06768 16.2004 2.09909 16.1246C2.1305 16.0487 2.17654 15.9798 2.23457 15.9218L4.57372 13.5826C4.63176 13.5246 4.6778 13.4557 4.70921 13.3799C4.74062 13.304 4.75678 13.2228 4.75678 13.1407C4.75678 13.0586 4.74062 12.9774 4.70921 12.9015C4.6778 12.8257 4.63176 12.7568 4.57372 12.6988L2.9419 11.0669C2.82469 10.9497 2.75885 10.7908 2.75885 10.625C2.75885 10.4592 2.82469 10.3003 2.9419 10.1831L3.93302 9.19194C4.05023 9.07473 4.2092 9.00888 4.37496 9.00888C4.54072 9.00888 4.69969 9.07473 4.8169 9.19194L10.808 15.1831C10.9252 15.3003 10.9911 15.4592 10.9911 15.625C10.9911 15.7908 10.9252 15.9497 10.808 16.0669L9.8169 17.0581C9.69969 17.1753 9.54072 17.2411 9.37496 17.2411C9.2092 17.2411 9.05023 17.1753 8.93302 17.0581L7.3012 15.4262C7.18399 15.309 7.02502 15.2432 6.85926 15.2432C6.6935 15.2432 6.53453 15.309 6.41732 15.4262V15.4262Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <span>Products</span>
                  </a>
                  <a class="d-flex mb-2 py-3 px-4 align-items-center text-decoration-none text-white fw-bold" href="stockmanagement">
                    <svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2.70833 15L17.2917 15C18.0971 15 18.75 14.316 18.75 13.4722V2.77778C18.75 1.93401 18.0971 1.25 17.2917 1.25L2.70833 1.25C1.90292 1.25 1.25 1.93401 1.25 2.77778V13.4722C1.25 14.316 1.90292 15 2.70833 15Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M12.5 18.75H7.5" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M11.25 8.125L8.75 6.875V9.375L11.25 8.125Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <span>Stock Management</span>
                  </a>
                  <a class="d-flex py-3 px-4 align-items-center text-decoration-none text-white fw-bold" href="dispatch">
                    <svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13.75 4.375H17.5" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M15.625 2.5V6.25" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M2.4209 16.8743C3.1893 15.5442 4.29419 14.4398 5.62456 13.672C6.95493 12.9042 8.46393 12.5 9.99997 12.5C11.536 12.5 13.045 12.9043 14.3754 13.6721C15.7057 14.44 16.8106 15.5444 17.579 16.8744" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M14.6915 9.23303C14.3573 10.1354 13.7696 10.9221 12.9991 11.4987C12.2286 12.0752 11.3081 12.417 10.348 12.483C9.38797 12.549 8.42929 12.3364 7.58713 11.8708C6.74498 11.4052 6.05517 10.7063 5.60058 9.85813C5.14599 9.00997 4.94595 8.04859 5.02449 7.0895C5.10303 6.1304 5.45682 5.21438 6.04334 4.45148C6.62987 3.68857 7.42419 3.11124 8.33088 2.78883C9.23757 2.46642 10.2181 2.41265 11.1546 2.63397" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <span>Dispatch</span>
                  </a>
                  <a class="d-flex py-3 px-4 align-items-center text-decoration-none text-white fw-bold" href="deliverynotes">
                    <svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13.75 4.375H17.5" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M15.625 2.5V6.25" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M2.4209 16.8743C3.1893 15.5442 4.29419 14.4398 5.62456 13.672C6.95493 12.9042 8.46393 12.5 9.99997 12.5C11.536 12.5 13.045 12.9043 14.3754 13.6721C15.7057 14.44 16.8106 15.5444 17.579 16.8744" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M14.6915 9.23303C14.3573 10.1354 13.7696 10.9221 12.9991 11.4987C12.2286 12.0752 11.3081 12.417 10.348 12.483C9.38797 12.549 8.42929 12.3364 7.58713 11.8708C6.74498 11.4052 6.05517 10.7063 5.60058 9.85813C5.14599 9.00997 4.94595 8.04859 5.02449 7.0895C5.10303 6.1304 5.45682 5.21438 6.04334 4.45148C6.62987 3.68857 7.42419 3.11124 8.33088 2.78883C9.23757 2.46642 10.2181 2.41265 11.1546 2.63397" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <span>Delivery Note</span>
                  </a>
                </div>
              </li>
              <li class="mb-2">
                <a class="d-flex py-3 px-4 align-items-center text-decoration-none text-white fw-bold" href="#" data-bs-toggle="collapse" data-bs-target="#menus1-10">
                  <svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.8125 16.25H2.1875" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M7.8125 16.25V6.875H12.1875" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M16.5625 3.125H12.1875V16.25H16.5625V3.125Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M3.4375 16.25V10.625H7.8125" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                  <span>Orderbook</span>
                  <span class="ms-auto">
                    <svg width="10" height="7" viewbox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M8.75 1.5L5 5.25L1.25 1.5" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </span>
                </a>
                <div class="collapse ps-6" id="menus1-10">
                  <a class="d-flex mb-2 py-3 px-4 align-items-center text-decoration-none text-white fw-bold" href="orderbook">
                    <svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.95325 10.3282L11.8907 3.1407L16.875 3.125L16.8593 8.1093L9.67184 14.0468" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M7.8125 12.1875L12.5 7.5" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M6.41732 15.4262L4.07817 17.7654C4.02013 17.8234 3.95123 17.8695 3.8754 17.9009C3.79957 17.9323 3.7183 17.9484 3.63622 17.9484C3.55415 17.9484 3.47288 17.9323 3.39705 17.9009C3.32122 17.8695 3.25232 17.8234 3.19428 17.7654L2.23457 16.8057C2.17654 16.7476 2.1305 16.6787 2.09909 16.6029C2.06768 16.5271 2.05151 16.4458 2.05151 16.3637C2.05151 16.2817 2.06768 16.2004 2.09909 16.1246C2.1305 16.0487 2.17654 15.9798 2.23457 15.9218L4.57372 13.5826C4.63176 13.5246 4.6778 13.4557 4.70921 13.3799C4.74062 13.304 4.75678 13.2228 4.75678 13.1407C4.75678 13.0586 4.74062 12.9774 4.70921 12.9015C4.6778 12.8257 4.63176 12.7568 4.57372 12.6988L2.9419 11.0669C2.82469 10.9497 2.75885 10.7908 2.75885 10.625C2.75885 10.4592 2.82469 10.3003 2.9419 10.1831L3.93302 9.19194C4.05023 9.07473 4.2092 9.00888 4.37496 9.00888C4.54072 9.00888 4.69969 9.07473 4.8169 9.19194L10.808 15.1831C10.9252 15.3003 10.9911 15.4592 10.9911 15.625C10.9911 15.7908 10.9252 15.9497 10.808 16.0669L9.8169 17.0581C9.69969 17.1753 9.54072 17.2411 9.37496 17.2411C9.2092 17.2411 9.05023 17.1753 8.93302 17.0581L7.3012 15.4262C7.18399 15.309 7.02502 15.2432 6.85926 15.2432C6.6935 15.2432 6.53453 15.309 6.41732 15.4262V15.4262Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <span>Current</span>
                  </a>
                  <a class="d-flex py-3 px-4 align-items-center text-decoration-none text-white fw-bold" href="orderhistory">
                    <svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13.75 4.375H17.5" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M15.625 2.5V6.25" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M2.4209 16.8743C3.1893 15.5442 4.29419 14.4398 5.62456 13.672C6.95493 12.9042 8.46393 12.5 9.99997 12.5C11.536 12.5 13.045 12.9043 14.3754 13.6721C15.7057 14.44 16.8106 15.5444 17.579 16.8744" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M14.6915 9.23303C14.3573 10.1354 13.7696 10.9221 12.9991 11.4987C12.2286 12.0752 11.3081 12.417 10.348 12.483C9.38797 12.549 8.42929 12.3364 7.58713 11.8708C6.74498 11.4052 6.05517 10.7063 5.60058 9.85813C5.14599 9.00997 4.94595 8.04859 5.02449 7.0895C5.10303 6.1304 5.45682 5.21438 6.04334 4.45148C6.62987 3.68857 7.42419 3.11124 8.33088 2.78883C9.23757 2.46642 10.2181 2.41265 11.1546 2.63397" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <span>History</span>
                  </a>

                </div>
              </li>
              <li class="mb-2">
                <a class="d-flex py-3 px-4 align-items-center text-decoration-none text-white fw-bold" href="#" data-bs-toggle="collapse" data-bs-target="#menus1-9">
                  <svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.8125 16.25H2.1875" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M7.8125 16.25V6.875H12.1875" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M16.5625 3.125H12.1875V16.25H16.5625V3.125Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M3.4375 16.25V10.625H7.8125" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                  <span>Reconciliation</span>
                  <span class="ms-auto">
                    <svg width="10" height="7" viewbox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M8.75 1.5L5 5.25L1.25 1.5" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </span>
                </a>
                <div class="collapse ps-6" id="menus1-9">
                  <a class="d-flex mb-2 py-3 px-4 align-items-center text-decoration-none text-white fw-bold" href="stockrecon">
                    <svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.95325 10.3282L11.8907 3.1407L16.875 3.125L16.8593 8.1093L9.67184 14.0468" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M7.8125 12.1875L12.5 7.5" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M6.41732 15.4262L4.07817 17.7654C4.02013 17.8234 3.95123 17.8695 3.8754 17.9009C3.79957 17.9323 3.7183 17.9484 3.63622 17.9484C3.55415 17.9484 3.47288 17.9323 3.39705 17.9009C3.32122 17.8695 3.25232 17.8234 3.19428 17.7654L2.23457 16.8057C2.17654 16.7476 2.1305 16.6787 2.09909 16.6029C2.06768 16.5271 2.05151 16.4458 2.05151 16.3637C2.05151 16.2817 2.06768 16.2004 2.09909 16.1246C2.1305 16.0487 2.17654 15.9798 2.23457 15.9218L4.57372 13.5826C4.63176 13.5246 4.6778 13.4557 4.70921 13.3799C4.74062 13.304 4.75678 13.2228 4.75678 13.1407C4.75678 13.0586 4.74062 12.9774 4.70921 12.9015C4.6778 12.8257 4.63176 12.7568 4.57372 12.6988L2.9419 11.0669C2.82469 10.9497 2.75885 10.7908 2.75885 10.625C2.75885 10.4592 2.82469 10.3003 2.9419 10.1831L3.93302 9.19194C4.05023 9.07473 4.2092 9.00888 4.37496 9.00888C4.54072 9.00888 4.69969 9.07473 4.8169 9.19194L10.808 15.1831C10.9252 15.3003 10.9911 15.4592 10.9911 15.625C10.9911 15.7908 10.9252 15.9497 10.808 16.0669L9.8169 17.0581C9.69969 17.1753 9.54072 17.2411 9.37496 17.2411C9.2092 17.2411 9.05023 17.1753 8.93302 17.0581L7.3012 15.4262C7.18399 15.309 7.02502 15.2432 6.85926 15.2432C6.6935 15.2432 6.53453 15.309 6.41732 15.4262V15.4262Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <span>By Stock Items</span>
                  </a>
                  <a class="d-flex py-3 px-4 align-items-center text-decoration-none text-white fw-bold" href="centermovement">
                    <svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13.75 4.375H17.5" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M15.625 2.5V6.25" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M2.4209 16.8743C3.1893 15.5442 4.29419 14.4398 5.62456 13.672C6.95493 12.9042 8.46393 12.5 9.99997 12.5C11.536 12.5 13.045 12.9043 14.3754 13.6721C15.7057 14.44 16.8106 15.5444 17.579 16.8744" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M14.6915 9.23303C14.3573 10.1354 13.7696 10.9221 12.9991 11.4987C12.2286 12.0752 11.3081 12.417 10.348 12.483C9.38797 12.549 8.42929 12.3364 7.58713 11.8708C6.74498 11.4052 6.05517 10.7063 5.60058 9.85813C5.14599 9.00997 4.94595 8.04859 5.02449 7.0895C5.10303 6.1304 5.45682 5.21438 6.04334 4.45148C6.62987 3.68857 7.42419 3.11124 8.33088 2.78883C9.23757 2.46642 10.2181 2.41265 11.1546 2.63397" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <span>Delivery Centers</span>
                  </a>
                </div>
              </li>
              <li class="mb-2">
                <a class="d-flex py-3 px-4 align-items-center text-decoration-none text-white fw-bold" href="reports">
                  <svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.54956 13.8327C2.61735 12.2612 2.29088 10.4035 2.63146 8.60832C2.97204 6.81315 3.95624 5.20407 5.39924 4.08321C6.84225 2.96235 8.6448 2.40682 10.4684 2.52094C12.292 2.63505 14.0113 3.41097 15.3033 4.70298C16.5953 5.99499 17.3712 7.71422 17.4853 9.53783C17.5995 11.3614 17.044 13.164 15.9231 14.607C14.8022 16.05 13.1932 17.0342 11.398 17.3748C9.60285 17.7154 7.7451 17.3889 6.17361 16.4567L6.17362 16.4567L3.58218 17.1971C3.47497 17.2277 3.36151 17.2291 3.25357 17.2011C3.14563 17.1732 3.04713 17.1168 2.96828 17.038C2.88943 16.9592 2.83311 16.8607 2.80514 16.7527C2.77717 16.6448 2.77857 16.5313 2.80921 16.4241L3.54962 13.8327L3.54956 13.8327Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M7.5 8.4375H12.5" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M7.5 11.5625H12.5" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                  <span>Reports</span>
                  <span class="py-1 px-2 ms-auto bg-danger text-white rounded-pill"></span>
                </a>
              </li>
              <li class="mb-2">
                <a class="d-flex py-3 px-4 align-items-center text-decoration-none text-white fw-bold" href="#" data-bs-toggle="collapse" data-bs-target="#menus1-3">
                  <svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.8125 16.25H2.1875" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M7.8125 16.25V6.875H12.1875" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M16.5625 3.125H12.1875V16.25H16.5625V3.125Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M3.4375 16.25V10.625H7.8125" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                  <span>Settings</span>
                  <span class="ms-auto">
                    <svg width="10" height="7" viewbox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M8.75 1.5L5 5.25L1.25 1.5" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </span>
                </a>
                <div class="collapse ps-6" id="menus1-3">
                  <a class="d-flex mb-2 py-3 px-4 align-items-center text-decoration-none text-white fw-bold" href="users">
                    <svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.95325 10.3282L11.8907 3.1407L16.875 3.125L16.8593 8.1093L9.67184 14.0468" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M7.8125 12.1875L12.5 7.5" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M6.41732 15.4262L4.07817 17.7654C4.02013 17.8234 3.95123 17.8695 3.8754 17.9009C3.79957 17.9323 3.7183 17.9484 3.63622 17.9484C3.55415 17.9484 3.47288 17.9323 3.39705 17.9009C3.32122 17.8695 3.25232 17.8234 3.19428 17.7654L2.23457 16.8057C2.17654 16.7476 2.1305 16.6787 2.09909 16.6029C2.06768 16.5271 2.05151 16.4458 2.05151 16.3637C2.05151 16.2817 2.06768 16.2004 2.09909 16.1246C2.1305 16.0487 2.17654 15.9798 2.23457 15.9218L4.57372 13.5826C4.63176 13.5246 4.6778 13.4557 4.70921 13.3799C4.74062 13.304 4.75678 13.2228 4.75678 13.1407C4.75678 13.0586 4.74062 12.9774 4.70921 12.9015C4.6778 12.8257 4.63176 12.7568 4.57372 12.6988L2.9419 11.0669C2.82469 10.9497 2.75885 10.7908 2.75885 10.625C2.75885 10.4592 2.82469 10.3003 2.9419 10.1831L3.93302 9.19194C4.05023 9.07473 4.2092 9.00888 4.37496 9.00888C4.54072 9.00888 4.69969 9.07473 4.8169 9.19194L10.808 15.1831C10.9252 15.3003 10.9911 15.4592 10.9911 15.625C10.9911 15.7908 10.9252 15.9497 10.808 16.0669L9.8169 17.0581C9.69969 17.1753 9.54072 17.2411 9.37496 17.2411C9.2092 17.2411 9.05023 17.1753 8.93302 17.0581L7.3012 15.4262C7.18399 15.309 7.02502 15.2432 6.85926 15.2432C6.6935 15.2432 6.53453 15.309 6.41732 15.4262V15.4262Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <span>User Management</span>
                  </a>
                  <a class="d-flex mb-2 py-3 px-4 align-items-center text-decoration-none text-white fw-bold" href="transporter">
                    <svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2.70833 15L17.2917 15C18.0971 15 18.75 14.316 18.75 13.4722V2.77778C18.75 1.93401 18.0971 1.25 17.2917 1.25L2.70833 1.25C1.90292 1.25 1.25 1.93401 1.25 2.77778V13.4722C1.25 14.316 1.90292 15 2.70833 15Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M12.5 18.75H7.5" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M11.25 8.125L8.75 6.875V9.375L11.25 8.125Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <span>Transporters</span>
                  </a>
                  <a class="d-flex py-3 px-4 align-items-center text-decoration-none text-white fw-bold" href="#">
                    <svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13.75 4.375H17.5" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M15.625 2.5V6.25" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M2.4209 16.8743C3.1893 15.5442 4.29419 14.4398 5.62456 13.672C6.95493 12.9042 8.46393 12.5 9.99997 12.5C11.536 12.5 13.045 12.9043 14.3754 13.6721C15.7057 14.44 16.8106 15.5444 17.579 16.8744" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M14.6915 9.23303C14.3573 10.1354 13.7696 10.9221 12.9991 11.4987C12.2286 12.0752 11.3081 12.417 10.348 12.483C9.38797 12.549 8.42929 12.3364 7.58713 11.8708C6.74498 11.4052 6.05517 10.7063 5.60058 9.85813C5.14599 9.00997 4.94595 8.04859 5.02449 7.0895C5.10303 6.1304 5.45682 5.21438 6.04334 4.45148C6.62987 3.68857 7.42419 3.11124 8.33088 2.78883C9.23757 2.46642 10.2181 2.41265 11.1546 2.63397" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <span>User Roles</span>
                  </a>
                  <a class="d-flex py-3 px-4 align-items-center text-decoration-none text-white fw-bold" href="warehouse">
                    <svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13.75 4.375H17.5" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M15.625 2.5V6.25" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M2.4209 16.8743C3.1893 15.5442 4.29419 14.4398 5.62456 13.672C6.95493 12.9042 8.46393 12.5 9.99997 12.5C11.536 12.5 13.045 12.9043 14.3754 13.6721C15.7057 14.44 16.8106 15.5444 17.579 16.8744" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M14.6915 9.23303C14.3573 10.1354 13.7696 10.9221 12.9991 11.4987C12.2286 12.0752 11.3081 12.417 10.348 12.483C9.38797 12.549 8.42929 12.3364 7.58713 11.8708C6.74498 11.4052 6.05517 10.7063 5.60058 9.85813C5.14599 9.00997 4.94595 8.04859 5.02449 7.0895C5.10303 6.1304 5.45682 5.21438 6.04334 4.45148C6.62987 3.68857 7.42419 3.11124 8.33088 2.78883C9.23757 2.46642 10.2181 2.41265 11.1546 2.63397" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <span>Warehouses</span>
                  </a>
             
                  <a class="d-flex py-3 px-4 align-items-center text-decoration-none text-white fw-bold" href="deliverycenters">
                    <svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13.75 4.375H17.5" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M15.625 2.5V6.25" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M2.4209 16.8743C3.1893 15.5442 4.29419 14.4398 5.62456 13.672C6.95493 12.9042 8.46393 12.5 9.99997 12.5C11.536 12.5 13.045 12.9043 14.3754 13.6721C15.7057 14.44 16.8106 15.5444 17.579 16.8744" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M14.6915 9.23303C14.3573 10.1354 13.7696 10.9221 12.9991 11.4987C12.2286 12.0752 11.3081 12.417 10.348 12.483C9.38797 12.549 8.42929 12.3364 7.58713 11.8708C6.74498 11.4052 6.05517 10.7063 5.60058 9.85813C5.14599 9.00997 4.94595 8.04859 5.02449 7.0895C5.10303 6.1304 5.45682 5.21438 6.04334 4.45148C6.62987 3.68857 7.42419 3.11124 8.33088 2.78883C9.23757 2.46642 10.2181 2.41265 11.1546 2.63397" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <span>Delivery Centers</span>
                  </a>
                </div>
              </li>
              <li class="mb-2">
                <a class="d-flex py-3 px-4 align-items-center text-decoration-none text-white fw-bold" href="faq">
                  <svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 17.5C14.1421 17.5 17.5 14.1421 17.5 10C17.5 5.85786 14.1421 2.5 10 2.5C5.85786 2.5 2.5 5.85786 2.5 10C2.5 14.1421 5.85786 17.5 10 17.5Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M10 13.125C11.7259 13.125 13.125 11.7259 13.125 10C13.125 8.27411 11.7259 6.875 10 6.875C8.27411 6.875 6.875 8.27411 6.875 10C6.875 11.7259 8.27411 13.125 10 13.125Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M7.79037 7.79028L4.69678 4.69669" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M12.2097 7.79028L15.3033 4.69669" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M12.2097 12.2097L15.3033 15.3033" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M7.79037 12.2097L4.69678 15.3033" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                  <span>Support</span>
                </a>
              </li>
              <li class="mb-2">
                <a class="d-flex py-3 px-4 align-items-center text-decoration-none text-white fw-bold" href="/logout">
                  <svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 17.5C14.1421 17.5 17.5 14.1421 17.5 10C17.5 5.85786 14.1421 2.5 10 2.5C5.85786 2.5 2.5 5.85786 2.5 10C2.5 14.1421 5.85786 17.5 10 17.5Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M10 13.125C11.7259 13.125 13.125 11.7259 13.125 10C13.125 8.27411 11.7259 6.875 10 6.875C8.27411 6.875 6.875 8.27411 6.875 10C6.875 11.7259 8.27411 13.125 10 13.125Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M7.79037 7.79028L4.69678 4.69669" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M12.2097 7.79028L15.3033 4.69669" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M12.2097 12.2097L15.3033 15.3033" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M7.79037 12.2097L4.69678 15.3033" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                  <span>Log Out</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <%- body %>
      </div>
    </div>
    <!-- Footer container --
<div class="main-footer">
  <span>&copy; 2023. Agrifora Management System. All Rights Reserved.</span>
  <span>Created by: <a href="http://soxfort.com" target="_blank">Soxfort Solutions | Intuitive Innovation</a></span>
</div> main-footer -->
        <script src="js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="js/main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="js/charts-demo.js"></script>
    <script>
      const searchInput = document.getElementById("searchInput");
      const tableRows = document.querySelectorAll("tbody tr");

      searchInput.addEventListener("input", function () {
        const searchText = searchInput.value.toLowerCase();

        tableRows.forEach((row) => {
          const cells = row.getElementsByTagName("td");
          let rowMatchesSearch = false;

          for (let i = 0; i < cells.length; i++) {
            const cellText = cells[i].textContent.toLowerCase();
            if (cellText.includes(searchText)) {
              rowMatchesSearch = true;
              break;
            }
          }

          row.style.display = rowMatchesSearch ? "" : "none";
        });
      });
    </script>
    <script>
      // Get all the menu items
      const menuItems = document.querySelectorAll("#nav-menu a");
  
      // Add a click event listener to each menu item
      menuItems.forEach((menuItem) => {
          menuItem.addEventListener("click", function (event) {
              // Remove "active" class from all menu items
              menuItems.forEach((item) => {
                  item.classList.remove("active");
              });
  
              // Add "active" class to the clicked menu item
              this.classList.add("active");
  
              // You can add code here to navigate to the actual page using JavaScript
              // For example, window.location.href = this.href;
  
              // Prevent the default link behavior
              event.preventDefault();
          });
      });
  </script>
  
</body>
</html>
