
        <div class="mx-auto ms-lg-80 ps-lg-4">
  
        <div class="p-8 bg-white navbar-light">
          <div class="row align-items-center justify-content-between">
            <div class="col-12 col-lg-6 mb-4 mb-lg-0">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                  <li class="breadcrumb-item" aria-current="page">
                    <a class="d-flex align-items-center" href="#">
                      <svg class="text-primary me-2" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.8737 16.875V9.02647C16.8737 8.93939 16.8555 8.85327 16.8202 8.77363C16.785 8.694 16.7335 8.6226 16.6691 8.56402L10.4187 2.88159C10.3036 2.77699 10.1537 2.71904 9.99821 2.71904C9.84272 2.71905 9.69281 2.77701 9.57777 2.88162L3.3282 8.56402C3.26377 8.6226 3.2123 8.69399 3.17707 8.77363C3.14185 8.85326 3.12366 8.93937 3.12366 9.02645V16.875" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M1.24866 16.875H18.7487" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M11.8732 16.8743V12.4993C11.8732 12.3336 11.8073 12.1746 11.6901 12.0574C11.5729 11.9402 11.4139 11.8743 11.2482 11.8743H8.74817C8.58241 11.8743 8.42344 11.9402 8.30623 12.0574C8.18902 12.1746 8.12317 12.3336 8.12317 12.4993V16.8743" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                      <span>Inventory Management</span>
                    </a>
                  </li>
                  <li class="breadcrumb-item" aria-current="page">
                    <a class="d-flex align-items-center" href="#">
                        <svg class="me-3" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 17.5C14.1421 17.5 17.5 14.1421 17.5 10C17.5 5.85786 14.1421 2.5 10 2.5C5.85786 2.5 2.5 5.85786 2.5 10C2.5 14.1421 5.85786 17.5 10 17.5Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M10 13.125C11.7259 13.125 13.125 11.7259 13.125 10C13.125 8.27411 11.7259 6.875 10 6.875C8.27411 6.875 6.875 8.27411 6.875 10C6.875 11.7259 8.27411 13.125 10 13.125Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M7.79037 7.79028L4.69678 4.69669" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M12.2097 7.79028L15.3033 4.69669" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M12.2097 12.2097L15.3033 15.3033" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M7.79037 12.2097L4.69678 15.3033" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                          </svg>
                      <span>Delivery Notes</span>
                    </a>
                  </li>
                </ol>
              </nav>
            </div>
            <div class="col-12 col-lg-6 d-flex">
              <a class="btn btn-outline-light d-inline-flex align-items-center justify-content-center p-0 ms-lg-auto me-2 shadow rounded-2" href="#" style="width: 40px; height: 40px;">
                <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.4375 9.375C7.61212 9.375 9.375 7.61212 9.375 5.4375C9.375 3.26288 7.61212 1.5 5.4375 1.5C3.26288 1.5 1.5 3.26288 1.5 5.4375C1.5 7.61212 3.26288 9.375 5.4375 9.375Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M8.22156 8.22189L10.4997 10.5" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </a>
              <a class="btn btn-outline-light d-inline-flex align-items-center justify-content-center p-0 me-2 shadow rounded-2" href="#" style="width: 40px; height: 40px;">
                <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2.12974 8.29964C1.57041 7.35675 1.37453 6.2421 1.57887 5.165C1.78322 4.0879 2.37374 3.12245 3.23955 2.44994C4.10535 1.77742 5.18688 1.4441 6.28105 1.51257C7.37522 1.58104 8.40676 2.04659 9.18197 2.8218C9.95718 3.597 10.4227 4.62854 10.4912 5.72271C10.5597 6.81688 10.2264 7.89841 9.55386 8.76422C8.88135 9.63003 7.9159 10.2206 6.8388 10.4249C5.76171 10.6293 4.64706 10.4334 3.70416 9.87406L3.70417 9.87401L2.14931 10.3183C2.08498 10.3366 2.01691 10.3375 1.95214 10.3207C1.88738 10.3039 1.82828 10.2701 1.78097 10.2228C1.73366 10.1755 1.69986 10.1164 1.68308 10.0516C1.6663 9.98687 1.66714 9.9188 1.68552 9.85447L2.12977 8.29961L2.12974 8.29964Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </a>
              <a class="btn btn-outline-light d-inline-flex align-items-center justify-content-center p-0 me-2 shadow rounded-2" href="#" style="width: 40px; height: 40px;">
                <svg width="10" height="12" viewbox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 11H6" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M1.6988 4.14999C1.69819 3.73489 1.78393 3.32378 1.95108 2.94036C2.11823 2.55694 2.36348 2.20879 2.6727 1.91598C2.98192 1.62317 3.34899 1.39148 3.75275 1.23429C4.15651 1.07709 4.58897 0.997483 5.02522 1.00006C6.84554 1.01294 8.30157 2.45262 8.30157 4.18953V4.49999C8.30157 6.06693 8.64611 6.9762 8.94956 7.47317C8.98225 7.52627 8.99965 7.58663 8.99999 7.64817C9.00034 7.70971 8.98362 7.77025 8.95153 7.82368C8.91944 7.87711 8.87311 7.92155 8.81721 7.9525C8.76131 7.98346 8.69783 7.99984 8.63315 8H1.36685C1.30217 7.99984 1.23867 7.98345 1.18277 7.95249C1.12686 7.92153 1.08053 7.87708 1.04844 7.82364C1.01636 7.7702 0.999648 7.70965 1.00001 7.64811C1.00036 7.58656 1.01777 7.52619 1.05048 7.47309C1.3541 6.97611 1.69879 6.06685 1.69879 4.49999L1.6988 4.14999Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </a>
              <a href="#">
                <img class="img-fluid rounded-1" style="width: 40px; height: 40px;" src="https://lh3.googleusercontent.com/a/AAcHTtfJwO6agah1DDbB2CKQ25F_zrsfyYqu-8d44zbNW8bzDDmB=s192-c-rg-br100" alt="">
              </a>
            </div>
          </div>
        </div>
      </section>
      
      <div class="container">
      <section class="py-6">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <div class="p-8 border rounded-2">
                <div class="d-flex mb-6 align-items-start justify-content-between">
                  <span class="d-inline-flex align-items-center justify-content-center bg-light-light rounded-2" style="width: 40px; height: 40px;">
                    <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2.1946 11.4494C1.35561 10.0351 1.06179 8.36309 1.36831 6.74744C1.67483 5.1318 2.56061 3.68362 3.85932 2.67485C5.15803 1.66607 6.78032 1.1661 8.42158 1.2688C10.0628 1.37151 11.6101 2.06983 12.773 3.23264C13.9358 4.39545 14.6341 5.94275 14.7368 7.58401C14.8395 9.22526 14.3396 10.8476 13.3308 12.1463C12.322 13.445 10.8738 14.3308 9.25821 14.6373C7.64256 14.9438 5.97059 14.65 4.55624 13.811L4.55626 13.811L2.22397 14.4773C2.12747 14.5049 2.02536 14.5062 1.92821 14.481C1.83106 14.4558 1.74242 14.4051 1.67145 14.3342C1.60049 14.2632 1.5498 14.1745 1.52462 14.0774C1.49945 13.9803 1.50071 13.8781 1.52829 13.7816L2.19466 11.4494L2.1946 11.4494Z" stroke="#5F27CE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M5.75 6.59375H10.25" stroke="#5F27CE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M5.75 9.40625H10.25" stroke="#5F27CE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </span>

                </div>
                <h1 class="mb-4">60</h1>
                <p class="mb-0">
                  <span>Delivery Units</span>
                 
                </p>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <div class="p-8 border rounded-2">
                <div class="d-flex mb-6 align-items-start justify-content-between">
                  <span class="d-inline-flex align-items-center justify-content-center bg-danger-light rounded-2" style="width: 40px; height: 40px;">
                    <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13.5 5H2.5C2.22386 5 2 5.22386 2 5.5V13.5C2 13.7761 2.22386 14 2.5 14H13.5C13.7761 14 14 13.7761 14 13.5V5.5C14 5.22386 13.7761 5 13.5 5Z" stroke="#E7430F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M11 4V3C11 2.73478 10.8736 2.48043 10.6485 2.29289C10.4235 2.10536 10.1183 2 9.8 2H6.2C5.88174 2 5.57652 2.10536 5.35147 2.29289C5.12643 2.48043 5 2.73478 5 3V4" stroke="#E7430F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M2 8H14" stroke="#E7430F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </span>
            
                </div>
                <h1 class="mb-4">15</h1>
                <p class="mb-0">
                  <span>Signed Delivery Notes</span>
                 
                </p>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-4 mb-md-0">
              <div class="p-8 border rounded-2">
                <div class="d-flex mb-6 align-items-start justify-content-between">
                  <span class="d-inline-flex align-items-center justify-content-center bg-light-light rounded-2" style="width: 40px; height: 40px;">
                    <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2.1946 11.4494C1.35561 10.0351 1.06179 8.36309 1.36831 6.74744C1.67483 5.1318 2.56061 3.68362 3.85932 2.67485C5.15803 1.66607 6.78032 1.1661 8.42158 1.2688C10.0628 1.37151 11.6101 2.06983 12.773 3.23264C13.9358 4.39545 14.6341 5.94275 14.7368 7.58401C14.8395 9.22526 14.3396 10.8476 13.3308 12.1463C12.322 13.445 10.8738 14.3308 9.25821 14.6373C7.64256 14.9438 5.97059 14.65 4.55624 13.811L4.55626 13.811L2.22397 14.4773C2.12747 14.5049 2.02536 14.5062 1.92821 14.481C1.83106 14.4558 1.74242 14.4051 1.67145 14.3342C1.60049 14.2632 1.5498 14.1745 1.52462 14.0774C1.49945 13.9803 1.50071 13.8781 1.52829 13.7816L2.19466 11.4494L2.1946 11.4494Z" stroke="#5F27CE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M5.75 6.59375H10.25" stroke="#5F27CE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M5.75 9.40625H10.25" stroke="#5F27CE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </span>
      
                </div>
                <h1 class="mb-4">5</h1>
                <p class="mb-0">
                  <span>Pending Deliveries</span>
                
                </p>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 px-4">
              <div class="p-8 border rounded-2">
                <div class="d-flex mb-6 align-items-start justify-content-between">
                  <span class="d-inline-flex align-items-center justify-content-center bg-danger-light rounded-2" style="width: 40px; height: 40px;">
                    <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13.5 5H2.5C2.22386 5 2 5.22386 2 5.5V13.5C2 13.7761 2.22386 14 2.5 14H13.5C13.7761 14 14 13.7761 14 13.5V5.5C14 5.22386 13.7761 5 13.5 5Z" stroke="#E7430F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M11 4V3C11 2.73478 10.8736 2.48043 10.6485 2.29289C10.4235 2.10536 10.1183 2 9.8 2H6.2C5.88174 2 5.57652 2.10536 5.35147 2.29289C5.12643 2.48043 5 2.73478 5 3V4" stroke="#E7430F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M2 8H14" stroke="#E7430F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </span>
       
                </div>
                <h1 class="mb-4">4</h1>
                <p class="mb-0">
                  <span>Tasks</span>
                  
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="container-fluid pt-3">
        <div class="row removable">
           
        </div>
        <div class="row removable">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header border-0 pb-0">
                        <h4 class="mb-0">Delivery Notes</h4>
                        

                        <div class="row">
                            <div class="col-md-5">
                              <div class="input-group">
                                <input type="date" id="fromDate" class="form-control" placeholder="">
                                <input type="date" id="toDate" class="form-control" placeholder="">
                                <button id="goButton" class="btn btn-primary">Go</button>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <input type="text" id="search-input" class="form-control" placeholder="Search...">
                            </div>
                            <div class="col-md-3">
                              <button type="button" class="btn btn-primary mt-3"> <i class="fas fa-cog"></i>Report
                              </button>
                            </div> 
                            </div>
                    </div>
                    <div class="card-body">
                    
                        


    <table class="table table-striped table-hover" id="delivery-notes-table">
        <thead class="table-primary">
                                <tr>
                                    <th>Delivery Note Number</th>
                                    <th>Unit</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Example row with a hyperlink -->
                                <tr>
                                    <td><a href="sirius-assets/deliverynote.pdf">DN001</a></td>
                                    <td>HQ2 BDE CRANBORNE</td>
                                    <td>2023-09-21</td>
                                </tr>
                                <tr>
                                    <td><a href="sirius-assets/deliverynote.pdf">DN002</a></td>
                                    <td>SCHOOL OF LOGISTICS</td>
                                    <td>2023-09-21</td>
                                </tr>
                                <tr>
                                    <td><a href="sirius-assets/deliverynote.pdf">DN003</a></td>
                                    <td>ZS INF MBALA MBALA</td>
                                    <td>2023-09-21</td>
                                </tr>
                                <tr>
                                    <td><a href="/public/sirius-assets/deliverynote.pdf">DN004</a></td>
                                    <td>BOAT REGT KARIBA</td>
                                    <td>2023-09-21</td>
                                </tr>
                                <tr>
                                    <td><a href="/public/sirius-assets/deliverynote.pdf">DN005</a></td>
                                    <td>Unit A</td>
                                    <td>2023-09-21</td>
                                </tr>
                                <tr>
                                    <td><a href="/public/sirius-assets/deliverynote.pdf">DN006</a></td>
                                    <td>1 REF HOSP BYO</td>
                                    <td>2023-09-21</td>
                                </tr>
                                <tr>
                                    <td><a href="/public/sirius-assets/deliverynote.pdf">DN007</a></td>
                                    <td>33 INF BN</td>
                                    <td>2023-09-21</td>
                                </tr>
                                <!-- Add more rows with hyperlinks as needed -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">PDF Preview</h5>
                    </div>
                    <div class="card-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe id="pdf-preview" class="embed-responsive-item" src="" width="100%" height="800%"></iframe>

                        </div>
                    </div>
                </div>
                
            </div>
    <!-- Footer container -->
 <div class="main-footer">
    <span>&copy; 2023. Agrifora Management System. All Rights Reserved.</span>
    <span>Created by: <a href="http://soxfort.com" target="_blank">Soxfort Solutions | Intuitive Innovation</a></span>
  </div><!-- main-footer -->
</div>

    <script src="js/bootstrap/bootstrap.bundle.min.js"></script>
    <script>
        // Add an event listener to the search input
        const searchInput = document.getElementById("search-input");
        searchInput.addEventListener("input", function () {
            filterTable();
        });
    
        // Function to filter the table based on user input
        function filterTable() {
            const input = searchInput.value.toLowerCase();
            const table = document.getElementById("delivery-notes-table");
            const rows = table.getElementsByTagName("tr");
    
            for (let i = 1; i < rows.length; i++) { // Start from 1 to skip the header row
                const row = rows[i];
                const deliveryNoteNumber = row.cells[0].textContent.toLowerCase();
                const unit = row.cells[1].textContent.toLowerCase();
                const date = row.cells[2].textContent.toLowerCase();
    
                if (
                    deliveryNoteNumber.includes(input) ||
                    unit.includes(input) ||
                    date.includes(input)
                ) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            }
        }
    </script>
<script>
    const deliveryNoteLinks = document.querySelectorAll('#delivery-notes-table tbody a');
    const pdfPreview = document.getElementById('pdf-preview');

    // Add click event listeners to delivery note links
    deliveryNoteLinks.forEach(link => {
        link.addEventListener('click', function (event) {
            event.preventDefault(); // Prevent the link from navigating to a new page
            const pdfUrl = this.getAttribute('href');
            pdfPreview.src = pdfUrl; // Load the PDF in the iframe
        });
    });
</script>
