
        <div class="mx-auto ms-lg-80 ps-lg-4">
      <section>
        <div class="p-8 bg-white navbar-light">
          <div class="row align-items-center justify-content-between">
            <div class="col-12 col-lg-6 mb-4 mb-lg-0">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                  <li class="breadcrumb-item" aria-current="page">
                    <a class="d-flex align-items-center" href="#">
                      <svg class="text-primary me-2" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.8737 16.875V9.02647C16.8737 8.93939 16.8555 8.85327 16.8202 8.77363C16.785 8.694 16.7335 8.6226 16.6691 8.56402L10.4187 2.88159C10.3036 2.77699 10.1537 2.71904 9.99821 2.71904C9.84272 2.71905 9.69281 2.77701 9.57777 2.88162L3.3282 8.56402C3.26377 8.6226 3.2123 8.69399 3.17707 8.77363C3.14185 8.85326 3.12366 8.93937 3.12366 9.02645V16.875" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M1.24866 16.875H18.7487" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M11.8732 16.8743V12.4993C11.8732 12.3336 11.8073 12.1746 11.6901 12.0574C11.5729 11.9402 11.4139 11.8743 11.2482 11.8743H8.74817C8.58241 11.8743 8.42344 11.9402 8.30623 12.0574C8.18902 12.1746 8.12317 12.3336 8.12317 12.4993V16.8743" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                      <span>Dashboard</span>
                    </a>
                  </li>
             
                </ol>
              </nav>
            </div>
            <div class="col-12 col-lg-6 d-flex">
              <a class="btn btn-outline-light d-inline-flex align-items-center justify-content-center p-0 ms-lg-auto me-2 shadow rounded-2" href="#" style="width: 40px; height: 40px;">
                <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.4375 9.375C7.61212 9.375 9.375 7.61212 9.375 5.4375C9.375 3.26288 7.61212 1.5 5.4375 1.5C3.26288 1.5 1.5 3.26288 1.5 5.4375C1.5 7.61212 3.26288 9.375 5.4375 9.375Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M8.22156 8.22189L10.4997 10.5" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </a>
              <a class="btn btn-outline-light d-inline-flex align-items-center justify-content-center p-0 me-2 shadow rounded-2" href="#" style="width: 40px; height: 40px;">
                <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2.12974 8.29964C1.57041 7.35675 1.37453 6.2421 1.57887 5.165C1.78322 4.0879 2.37374 3.12245 3.23955 2.44994C4.10535 1.77742 5.18688 1.4441 6.28105 1.51257C7.37522 1.58104 8.40676 2.04659 9.18197 2.8218C9.95718 3.597 10.4227 4.62854 10.4912 5.72271C10.5597 6.81688 10.2264 7.89841 9.55386 8.76422C8.88135 9.63003 7.9159 10.2206 6.8388 10.4249C5.76171 10.6293 4.64706 10.4334 3.70416 9.87406L3.70417 9.87401L2.14931 10.3183C2.08498 10.3366 2.01691 10.3375 1.95214 10.3207C1.88738 10.3039 1.82828 10.2701 1.78097 10.2228C1.73366 10.1755 1.69986 10.1164 1.68308 10.0516C1.6663 9.98687 1.66714 9.9188 1.68552 9.85447L2.12977 8.29961L2.12974 8.29964Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </a>
              <a class="btn btn-outline-light d-inline-flex align-items-center justify-content-center p-0 me-2 shadow rounded-2" href="#" style="width: 40px; height: 40px;">
                <svg width="10" height="12" viewbox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 11H6" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M1.6988 4.14999C1.69819 3.73489 1.78393 3.32378 1.95108 2.94036C2.11823 2.55694 2.36348 2.20879 2.6727 1.91598C2.98192 1.62317 3.34899 1.39148 3.75275 1.23429C4.15651 1.07709 4.58897 0.997483 5.02522 1.00006C6.84554 1.01294 8.30157 2.45262 8.30157 4.18953V4.49999C8.30157 6.06693 8.64611 6.9762 8.94956 7.47317C8.98225 7.52627 8.99965 7.58663 8.99999 7.64817C9.00034 7.70971 8.98362 7.77025 8.95153 7.82368C8.91944 7.87711 8.87311 7.92155 8.81721 7.9525C8.76131 7.98346 8.69783 7.99984 8.63315 8H1.36685C1.30217 7.99984 1.23867 7.98345 1.18277 7.95249C1.12686 7.92153 1.08053 7.87708 1.04844 7.82364C1.01636 7.7702 0.999648 7.70965 1.00001 7.64811C1.00036 7.58656 1.01777 7.52619 1.05048 7.47309C1.3541 6.97611 1.69879 6.06685 1.69879 4.49999L1.6988 4.14999Z" stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </a>
              <a href="#">
                <img class="img-fluid rounded-1" style="width: 40px; height: 40px;" src="https://lh3.googleusercontent.com/a/AAcHTtfJwO6agah1DDbB2CKQ25F_zrsfyYqu-8d44zbNW8bzDDmB=s192-c-rg-br100" alt="">
              </a>
            </div>
          </div>
        </div>
      </section>
    
      <div class="container">
<br></br>
<div class="row">
<div class="col-md-4">
  <div class="input-group">
    <input type="date" id="fromDate" class="form-control" placeholder="From date">
    <input type="date" id="toDate" class="form-control" placeholder="To date">
    <button id="goButton" class="btn btn-primary">Go</button>
  </div>
</div>
<div class="col-md-4">
  <input type="text" id="searchInput" class="form-control" placeholder="Search...">
</div>
<div class="col-md-4">
  <button type="button" class="btn btn-primary mt-3"> <i class="fas fa-cog"></i> Generate Report
  </button>
</div> 
</div>

      
        
        
      
      
      
        <!-- Nav Tabs -->
<ul class="nav nav-tabs mt-3" id="dispatchTabs" role="tablist">
  <li class="nav-item" role="presentation">
      <a class="nav-link active" id="pending-tab" data-bs-toggle="tab" href="#pending" role="tab" aria-controls="pending" aria-selected="true">Pending Approval</a>
  </li>
  <li class="nav-item" role="presentation">
      <a class="nav-link" id="approved-tab" data-bs-toggle="tab" href="#approved" role="tab" aria-controls="approved" aria-selected="false">Approved</a>
  </li>
  <li class="nav-item" role="presentation">
      <a class="nav-link" id="cancelled-tab" data-bs-toggle="tab" href="#cancelled" role="tab" aria-controls="cancelled" aria-selected="false">Cancelled</a>
  </li>
</ul>

<!-- Tab Content -->
<div class="tab-content" id="dispatchTabsContent">
  <!-- Pending Dispatch Tab -->
  <div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="pending-tab">
      <h2 class="mt-3">Pending</h2>
      List of pending dispatch cards.
      <!-- Table for pending dispatches goes here -->
      <table class="table table-striped table-hover">
        <thead class="table-primary">
              <tr>
                  <th scope="col">Dispatch No.</th>
                  <th scope="col">Dispatch Date</th>
                  <th scope="col">Delivery Center</th>
                  <th scope="col">Warehouse</th>
                  <th scope="col">Transporter</th>
                  <th scope="col">Staff Assigned</th>
                  <th scope="col">Number of Products</th>
                 <th scope="col">Status</th>
                  <th scope="col">Actions</th>
              </tr>
          </thead>
          <tbody id="pendingDispatchTableBody">
              <!-- Pending dispatches will be populated here -->
          </tbody>
      </table>
  </div>

  <!-- Approved Dispatch Tab -->
  <div class="tab-pane fade" id="approved" role="tabpanel" aria-labelledby="approved-tab">
      <h2 class="mt-3">Approved</h2>
      <!-- Table for completed dispatches goes here -->
      <table class="table table-striped" id="approvedDispatchTable">
          <thead>
            <tr>
              <th scope="col">Dispatch No.</th>
              <th scope="col">Dispatch Date</th>
              <th scope="col">Delivery Center</th>
              <th scope="col">Warehouse</th>
              <th scope="col">Transporter</th>
              <th scope="col">Staff Assigned</th>
              <th scope="col">Number of Products</th>
             <th scope="col">Status</th>
              <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody id="completedDispatchTableBody">
              <!-- Completed dispatches will be populated here -->
          </tbody>
      </table>
  </div>

  <!-- Cancelled Dispatch Tab -->
  <div class="tab-pane fade" id="cancelled" role="tabpanel" aria-labelledby="cancelled-tab">
      <h2 class="mt-3">Cancelled</h2>
      <!-- Table for cancelled dispatches goes here -->
      <table class="table table-striped" id="cancelledDispatchTable">
          <thead>
            <tr>
              <th scope="col">Dispatch No.</th>
              <th scope="col">Dispatch Date</th>
              <th scope="col">Delivery Center</th>
              <th scope="col">Warehouse</th>
              <th scope="col">Transporter</th>
              <th scope="col">Staff Assigned</th>
              <th scope="col">Number of Products</th>
             <th scope="col">Status</th>
              <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody id="cancelledDispatchTableBody">
              <!-- Cancelled dispatches will be populated here -->
          </tbody>
      </table>
  </div>
</div>



  <!-- Add this modal structure to your HTML -->

<!-- Add this modal structure to your HTML -->

<!-- View Dispatch Modal -->
<div class="modal fade" id="viewDispatchModal" tabindex="-1" aria-labelledby="viewDispatchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewDispatchModalLabel">View Dispatch Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Dispatch Details</h5>
            <p><strong>Dispatch Date:</strong> <span id="dispatchDate"></span></p>
            <p><strong>Warehouse:</strong> <span id="warehouse"></span></p>
            <p><strong>Staff Member:</strong> <span id="staffMember"></span></p>
            <p><strong>Transporter:</strong> <span id="transporter"></span></p>
            <p><strong>Delivery Center:</strong> <span id="deliveryCenter"></span></p>
          </div>

        </div>
        <div class="mt-3">
          <h5 class="card-title">Product Details</h5>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>No.</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Unit Measure</th>
              </tr>
            </thead>
            <tbody id="dispatchProducts">
              <!-- Product details will be added dynamically here -->
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
                      <button type="button" class="btn btn-success" data-bs-dismiss="modal">APPROVE</button>
                      <button type="button" class="btn btn-danger">REJECT</button>
                      <button type="button" class="btn btn-secondary">CLOSE</button>
                    </div>pe="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


      </div>
    </div>
    <!-- Footer container -->
<div class="main-footer">
  <span>&copy; 2023. Maguta Ration  Management System. All Rights Reserved.</span>
  <span>Created by: <a href="http://soxfort.com" target="_blank">Soxfort Solutions | Intuitive Innovation</a></span>
</div><!-- main-footer -->
        <script src="js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="js/main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="js/charts-demo.js"></script>

