
        <div class="mx-auto ms-lg-80 ps-lg-4">
      <section>
        <div class="p-8 bg-white navbar-light">
          <div class="row align-items-center justify-content-between">
            <div class="col-12 col-lg-6 mb-4 mb-lg-0">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                  <li class="breadcrumb-item" aria-current="page">
                    <a class="d-flex align-items-center" href="#">
                      <svg class="text-primary me-2" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.8737 16.875V9.02647C16.8737 8.93939 16.8555 8.85327 16.8202 8.77363C16.785 8.694 16.7335 8.6226 16.6691 8.56402L10.4187 2.88159C10.3036 2.77699 10.1537 2.71904 9.99821 2.71904C9.84272 2.71905 9.69281 2.77701 9.57777 2.88162L3.3282 8.56402C3.26377 8.6226 3.2123 8.69399 3.17707 8.77363C3.14185 8.85326 3.12366 8.93937 3.12366 9.02645V16.875" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M1.24866 16.875H18.7487" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M11.8732 16.8743V12.4993C11.8732 12.3336 11.8073 12.1746 11.6901 12.0574C11.5729 11.9402 11.4139 11.8743 11.2482 11.8743H8.74817C8.58241 11.8743 8.42344 11.9402 8.30623 12.0574C8.18902 12.1746 8.12317 12.3336 8.12317 12.4993V16.8743" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                      <span>Dashboard</span>
                    </a>
                  </li>
             
                </ol>
              </nav>
            </div>
            
          </div>
        </div>
      </section>
            <div class="p-8 bg-white navbar-light">
                <div class="row align-items-center justify-content-between">
                    <div class="col-12 col-lg-6 mb-4 mb-lg-0">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item" aria-current="page">
                                    <a class="d-flex align-items-center" href="#">
                                        <svg class="text-primary me-2" width="20" height="20" viewbox="0 0 20 20"
                                            fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M16.8737 16.875V9.02647C16.8737 8.93939 16.8555 8.85327 16.8202 8.77363C16.785 8.694 16.7335 8.6226 16.6691 8.56402L10.4187 2.88159C10.3036 2.77699 10.1537 2.71904 9.99821 2.71904C9.84272 2.71905 9.69281 2.77701 9.57777 2.88162L3.3282 8.56402C3.26377 8.6226 3.2123 8.69399 3.17707 8.77363C3.14185 8.85326 3.12366 8.93937 3.12366 9.02645V16.875"
                                                stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round"></path>
                                            <path d="M1.24866 16.875H18.7487" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path
                                                d="M11.8732 16.8743V12.4993C11.8732 12.3336 11.8073 12.1746 11.6901 12.0574C11.5729 11.9402 11.4139 11.8743 11.2482 11.8743H8.74817C8.58241 11.8743 8.42344 11.9402 8.30623 12.0574C8.18902 12.1746 8.12317 12.3336 8.12317 12.4993V16.8743"
                                                stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round"></path>
                                        </svg>
                                        <span>Inventory Management</span>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    <a class="d-flex align-items-center" href="#">
                                        <svg class="text-primary me-2" width="20" height="20" viewbox="0 0 20 20"
                                            fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M17.8125 16.25H2.1875" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M7.8125 16.25V6.875H12.1875" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M16.5625 3.125H12.1875V16.25H16.5625V3.125Z" stroke="currentColor"
                                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M3.4375 16.25V10.625H7.8125" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                        <span>Products</span>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    <a class="d-flex align-items-center" href="#">
                                        <svg class="text-primary me-2" width="20" height="20" viewbox="0 0 20 20"
                                            fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M17.8125 16.25H2.1875" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M7.8125 16.25V6.875H12.1875" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M16.5625 3.125H12.1875V16.25H16.5625V3.125Z" stroke="currentColor"
                                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M3.4375 16.25V10.625H7.8125" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                        <span>Sugar</span>
                                    </a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-12 col-lg-6 d-flex">
                        <a class="btn btn-outline-light d-inline-flex align-items-center justify-content-center p-0 ms-lg-auto me-2 shadow rounded-2"
                            href="#" style="width: 40px; height: 40px;">
                            <svg width="12" height="12" viewbox="0 0 12 12" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M5.4375 9.375C7.61212 9.375 9.375 7.61212 9.375 5.4375C9.375 3.26288 7.61212 1.5 5.4375 1.5C3.26288 1.5 1.5 3.26288 1.5 5.4375C1.5 7.61212 3.26288 9.375 5.4375 9.375Z"
                                    stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path d="M8.22156 8.22189L10.4997 10.5" stroke="#7A899B" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                        <a class="btn btn-outline-light d-inline-flex align-items-center justify-content-center p-0 me-2 shadow rounded-2"
                            href="#" style="width: 40px; height: 40px;">
                            <svg width="12" height="12" viewbox="0 0 12 12" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M2.12974 8.29964C1.57041 7.35675 1.37453 6.2421 1.57887 5.165C1.78322 4.0879 2.37374 3.12245 3.23955 2.44994C4.10535 1.77742 5.18688 1.4441 6.28105 1.51257C7.37522 1.58104 8.40676 2.04659 9.18197 2.8218C9.95718 3.597 10.4227 4.62854 10.4912 5.72271C10.5597 6.81688 10.2264 7.89841 9.55386 8.76422C8.88135 9.63003 7.9159 10.2206 6.8388 10.4249C5.76171 10.6293 4.64706 10.4334 3.70416 9.87406L3.70417 9.87401L2.14931 10.3183C2.08498 10.3366 2.01691 10.3375 1.95214 10.3207C1.88738 10.3039 1.82828 10.2701 1.78097 10.2228C1.73366 10.1755 1.69986 10.1164 1.68308 10.0516C1.6663 9.98687 1.66714 9.9188 1.68552 9.85447L2.12977 8.29961L2.12974 8.29964Z"
                                    stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                            </svg>
                        </a>
                        <a class="btn btn-outline-light d-inline-flex align-items-center justify-content-center p-0 me-2 shadow rounded-2"
                            href="#" style="width: 40px; height: 40px;">
                            <svg width="10" height="12" viewbox="0 0 10 12" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M4 11H6" stroke="#7A899B" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                                <path
                                    d="M1.6988 4.14999C1.69819 3.73489 1.78393 3.32378 1.95108 2.94036C2.11823 2.55694 2.36348 2.20879 2.6727 1.91598C2.98192 1.62317 3.34899 1.39148 3.75275 1.23429C4.15651 1.07709 4.58897 0.997483 5.02522 1.00006C6.84554 1.01294 8.30157 2.45262 8.30157 4.18953V4.49999C8.30157 6.06693 8.64611 6.9762 8.94956 7.47317C8.98225 7.52627 8.99965 7.58663 8.99999 7.64817C9.00034 7.70971 8.98362 7.77025 8.95153 7.82368C8.91944 7.87711 8.87311 7.92155 8.81721 7.9525C8.76131 7.98346 8.69783 7.99984 8.63315 8H1.36685C1.30217 7.99984 1.23867 7.98345 1.18277 7.95249C1.12686 7.92153 1.08053 7.87708 1.04844 7.82364C1.01636 7.7702 0.999648 7.70965 1.00001 7.64811C1.00036 7.58656 1.01777 7.52619 1.05048 7.47309C1.3541 6.97611 1.69879 6.06685 1.69879 4.49999L1.6988 4.14999Z"
                                    stroke="#7A899B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                            </svg>
                        </a>
                        <a href="#">
                            <img class="img-fluid rounded-1" style="width: 40px; height: 40px;"
                                src="https://lh3.googleusercontent.com/a/AAcHTtfJwO6agah1DDbB2CKQ25F_zrsfyYqu-8d44zbNW8bzDDmB=s192-c-rg-br100"
                                alt="">
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Quick Stats -->
        <section class="py-6">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <div class="p-8 border rounded-2">
                            <div class="d-flex mb-6 align-items-start justify-content-between">


                            </div>
                            <h1 class="mb-4">20,200</h1>
                            <p class="mb-0">
                                <span><strong>Total Purchases (kgs)</strong></span>
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <div class="p-8 border rounded-2">
                            <div class="d-flex mb-6 align-items-start justify-content-between">


                            </div>
                            <h1 class="mb-4">15,000</h1>
                            <p class="mb-0">
                                <span><strong>Total Dispatched (kgs)</strong></span>

                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mb-4 mb-md-0">
                        <div class="p-8 border rounded-2">
                            <div class="d-flex mb-6 align-items-start justify-content-between">

                            </div>
                            <h1 class="mb-4">1,500</h1>
                            <p class="mb-0">
                                <span><strong>Reorder Level (kgs)</strong></span>

                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 px-4">
                        <div class="p-8 border rounded-2">
                            <div class="d-flex mb-6 align-items-start justify-content-between">

                            </div>
                            <h1 class="mb-4">4,200</h1>
                            <p class="mb-0">
                                <span><strong>Current Quantity (kgs)</strong></span>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <h3>Movement Summary</h3>
            </div>

            <div class="col-md-5">
                <h2>Product: Cooking Oil</h2>
            </div>
            <div class="col-md-3">

                <div class="input-group">
                    <input type="date" id="fromDate" class="form-control" placeholder="From date">
                    <input type="date" id="toDate" class="form-control" placeholder="To date">
                    <button id="goButton" class="btn btn-primary">Go</button>
                </div>
            </div>
            <div class="col-md-2">
                <input type="text" id="searchInput" class="form-control" placeholder="Search...">
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary mt-3"> <i class="fas fa-cog"></i> Generate Report
                </button>
            </div>
        </div>
        <div class="container mt-5">
              <!-- Button to open modal --> 
              <button type="button" class="btn btn-primary mt-3"  data-bs-toggle="modal"
              data-bs-target="#uploadModal"> <i class="fas fa-upload"></i> Upload Delivery Note </button>
              <br><br>
            <div class="row">
                <!-- Product Details Card -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>Product Details</h4>
                        </div>
                        <ul class="list-group list-group-flush">
                            <!-- Product Selection Dropdown -->
                            <li class="list-group-item">
                                <label for="productSelector" class="form-label">Select Product:</label>
                                <select class="form-select" id="example-search" data-ub-select-search>
                                    <option value="">Select Product</option>
                                    <option value="Bread">Bread</option>
                                    <option value="Milk">Milk</option>
                                    <option value="Sugar">Sugar</option>
                                    <option value="Tea">Tea</option>
                                    <option value="Coffee">Coffee</option>
                                    <option value="Eggs">Eggs</option>
                                    <option value="Margarine">Margarine</option>
                                    <option value="Mealie-Meal">Mealie-Meal</option>
                                    <option value="Rice">Rice</option>
                                    <option value="Cooking Oil">Cooking Oil</option>
                                    <option value="Beef">Beef</option>
                                    <option value="Chicken">Chicken</option>
                                    <option value="Potatoes">Potatoes</option>
                                    <option value="Tomatoes">Tomatoes</option>
                                    <option value="Onions">Onions</option>
                                    <option value="Cabbages">Cabbages</option>
                                    <option value="Salt">Salt</option>
                                    <option value="Bananas">Bananas</option>
                                    <option value="Oranges">Oranges</option>
                                    <option value="24-Hour Ration Packs">24-Hour Ration Packs</option>
                                </select>
                            </li>  
                            <li class="list-group-item">Dispatch Date: <strong>2023-09-15</strong></li>
                            <li class="list-group-item">Delivery Date: <strong>2023-09-10</strong></li>
                            <li class="list-group-item">Delivery Note Number: <strong>1,500Kgs</strong></li>
                            <li class="list-group-item">Driver <strong>The Driver</strong></li>
                        </ul>
                    </div>
                </div>


                <!-- Movement Table -->
                <div class="col-md-8">

                    <table class="table table-striped table-hover">
                        <thead class="table-primary">
                            <tr>
                                <th>Date</th>
                                <th>Dispatch Number</th>
                                <th>Delivery Note</th>
                                <th>Product</th>
                                <th>Qty Ordered</th>
                                <th>Qty Delivered</th>
                                <th>Over/Under Supply</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2023-09-23</td>
                                <td><a href="#">DN001</a></td>
                                <td><a href="#">DN001</a></td>
                                <td>Bread</td>
                                <td>1000</td>
                                <td>950</td>
                                <td class="text-danger">50</td>
                            </tr>
                            <tr>
                                <td>2023-09-23</td>
                                <td><a href="#">DN002</a></td>
                                <td><a href="#">DN002</a></td>
                                <td>Milk</td>
                                <td>500</td>
                                <td>450</td>
                                <td class="text-danger">50</td>
                            </tr>
                            <tr>
                                <td>2023-09-23</td>
                                <td><a href="#">DN003</a></td>
                                <td><a href="#">DN003</a></td>
                                <td>Sugar</td>
                                <td>2000</td>
                                <td>2100</td>
                                <td class="text-success">100</td>
                            </tr> <!-- Rest of products added here -->
                            <tr>
                                <td><strong>Total</strong></td>
                                <td></td>
                                <td></td>
                                <td><strong>3500</strong></td>
                                <td><strong>3500</strong></td>
                                <td><strong>0</strong></td>
                            </tr>
                        </tbody>
                    </table>


                    <!-- Pagination -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-end">
                            <li class="page-item disabled">
                                <span class="page-link">Previous</span>
                            </li>
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">1 <span class="sr-only">(current)</span></span>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
           

                <!-- Modal -->
                <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="uploadModalLabel">Upload Delivery Note</h5> <button
                                    type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body"></div>
                            <div class="card">
                                <div class="card-body">
                            <form>
                                <div class="mb-3">
                                    <label class="form-label">Delivery Note Number</label>
                                    <input type="text" class="form-control">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Delivery Date</label>
                                    <input type="date" class="form-control">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Dispatch Number</label>
                                    <select class="form-select">
                                        <option>Select dispatch</option>
                                        <option>DN001</option>
                                        <option>DN002</option>
                                        <option>DN003</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Upload File</label>
                                    <input type="file" class="form-control">
                                </div>

                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>
    </div>
    <!-- Footer container -->
    <div class="main-footer">
        <span>&copy; 2023. Agrifora Management System. All Rights Reserved.</span>
        <span>Created by: <a href="http://soxfort.com" target="_blank">Soxfort Solutions | Intuitive
                Innovation</a></span>
    </div><!-- main-footer -->
    <script src="js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="js/main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="js/charts-demo.js"></script>
    <script>
        // Get the product selection dropdown and the heading element
        const productSelector = document.getElementById("productSelector");
        const productHeading = document.querySelector(".col-md-5 h2");

        // Add an event listener to the product selection dropdown
        productSelector.addEventListener("change", function () {
            // Update the heading text with the selected product
            productHeading.textContent = "Product: " + productSelector.value;
        });
    </script>
    <script>$('.productSelector').select2({
            placeholder: 'Select an option',
            dropdownParent: 'productSelector'
        });
    </script>
    <script>
        new UseBootstrapSelect(document.getElementById('example-search'))
      </script>
      <script src="https://unpkg.com/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
      <script src="node_modules/use-bootstrap-select/dist/use-bootstrap-select.min.js"></script>
