<div class="mx-auto ms-lg-80 ps-lg-4">
  <section>
    <div class="p-8 bg-white navbar-light">
      <div class="row align-items-center justify-content-between">
        <div class="col-12 col-lg-6 mb-4 mb-lg-0">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item" aria-current="page">
                <a class="d-flex align-items-center" href="#">
                  <svg
                    class="text-primary me-2"
                    width="20"
                    height="20"
                    viewbox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M16.8737 16.875V9.02647C16.8737 8.93939 16.8555 8.85327 16.8202 8.77363C16.785 8.694 16.7335 8.6226 16.6691 8.56402L10.4187 2.88159C10.3036 2.77699 10.1537 2.71904 9.99821 2.71904C9.84272 2.71905 9.69281 2.77701 9.57777 2.88162L3.3282 8.56402C3.26377 8.6226 3.2123 8.69399 3.17707 8.77363C3.14185 8.85326 3.12366 8.93937 3.12366 9.02645V16.875"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M1.24866 16.875H18.7487"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M11.8732 16.8743V12.4993C11.8732 12.3336 11.8073 12.1746 11.6901 12.0574C11.5729 11.9402 11.4139 11.8743 11.2482 11.8743H8.74817C8.58241 11.8743 8.42344 11.9402 8.30623 12.0574C8.18902 12.1746 8.12317 12.3336 8.12317 12.4993V16.8743"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                  <span>Dashboard</span>
                </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>

  <form>
    <div class="row">
      <div class="col-md-6">
        <!-- Warehouse, Staff Assigned, Transporter, Driver -->
        <div class="form-group row">
          <label for="warehouse" class="col-sm-4 col-form-label"
            >Warehouse</label
          >
          <div class="col-sm-8">
            <input
              type="text"
              id="warehouse"
              name="warehouse"
              class="form-control" />
          </div>
        </div>
        <div class="form-group row">
          <label for="staff_assigned" class="col-sm-4 col-form-label"
            >Staff Assigned</label
          >
          <div class="col-sm-8">
            <select
              id="staff_assigned"
              name="staff_assigned"
              class="form-control">
              <option value="">Select</option>
              {% for staff member in staff %}
              <option value="{{ member.id }}">{{ member.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="transporter" class="col-sm-4 col-form-label"
            >Transporter</label
          >
          <div class="col-sm-8">
            <input
              type="text"
              id="transporter"
              name="transporter"
              class="form-control" />
          </div>
        </div>
        <div class="form-group row">
          <label for="driver" class="col-sm-4 col-form-label">Driver</label>
          <div class="col-sm-8">
            <input type="text" id="driver" name="driver" class="form-control" />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <!-- Delivery Site Information -->
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Unit Measure</th>
                <th>Remove</th>
              </tr>
            </thead>
            <tbody>
              <!-- Add/Remove Rows here -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </form>
</div>
