
        <div class="mx-auto ms-lg-80 ps-lg-4">
      <section>
        <div class="p-8 bg-white navbar-light">
          <div class="row align-items-center justify-content-between">
            <div class="col-12 col-lg-6 mb-4 mb-lg-0">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                  <li class="breadcrumb-item" aria-current="page">
                    <a class="d-flex align-items-center" href="#">
                      <svg class="text-primary me-2" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.8737 16.875V9.02647C16.8737 8.93939 16.8555 8.85327 16.8202 8.77363C16.785 8.694 16.7335 8.6226 16.6691 8.56402L10.4187 2.88159C10.3036 2.77699 10.1537 2.71904 9.99821 2.71904C9.84272 2.71905 9.69281 2.77701 9.57777 2.88162L3.3282 8.56402C3.26377 8.6226 3.2123 8.69399 3.17707 8.77363C3.14185 8.85326 3.12366 8.93937 3.12366 9.02645V16.875" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M1.24866 16.875H18.7487" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M11.8732 16.8743V12.4993C11.8732 12.3336 11.8073 12.1746 11.6901 12.0574C11.5729 11.9402 11.4139 11.8743 11.2482 11.8743H8.74817C8.58241 11.8743 8.42344 11.9402 8.30623 12.0574C8.18902 12.1746 8.12317 12.3336 8.12317 12.4993V16.8743" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                      <span>OrderBook History</span>
                    </a>
                  </li>

                </ol>
              </nav>
            </div>
           
          </div>
        </div>
      </section>
        <!-- Quick Stats -->
        <section class="py-6">
            <div class="container">
              <div class="row">
                <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <div class="p-8 border rounded-2">
                    <div class="d-flex mb-6 align-items-start justify-content-between">
                      
             
                    </div>
                    <h1 class="mb-4">20</h1>
                    <p class="mb-0">
                      <span><strong>Products (MTD)</strong></span>
                    </p>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <div class="p-8 border rounded-2">
                    <div class="d-flex mb-6 align-items-start justify-content-between">
                   
                  
                    </div>
                    <h1 class="mb-4">65</h1>
                    <p class="mb-0">
                      <span><strong>Total Delivery Centers</strong></span>
                     
                    </p>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-4 mb-md-0">
                  <div class="p-8 border rounded-2">
                    <div class="d-flex mb-6 align-items-start justify-content-between">
                  
                    </div>
                    <h1 class="mb-4">61</h1>
                    <p class="mb-0">
                      <span><strong>ZNA Delivery Points</strong></span>
                    
                    </p>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 px-4">
                  <div class="p-8 border rounded-2">
                    <div class="d-flex mb-6 align-items-start justify-content-between">
                     
                    </div>
                    <h1 class="mb-4">4</h1>
                    <p class="mb-0">
                      <span><strong>AFZ Delivery Points</strong></span>
                  
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
          
          <div class="container">
            <h2>Orderbook History</h2>
            <div class="row mb-3">
                                 
              <div class="col-md-4">
                  <label for="search-input"></label>
                  <input type="text" id="search-input" class="form-control" placeholder="Search...">
              </div>
              <div class="col-md-4">
                  <label for="table-filter">Show:</label>
                  <select id="table-filter" class="form-select">
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="all">All</option>
                  </select>
              </div>
          </div>
            <table class="table table-bordered table-striped table-hover">
                <thead class="table-primary">
                <tr>
                  <th>Orderbook Number</th>
                  <th>Period</th>
                  <th>Number of Products</th>
                  <th>Number of Centers</th>
                  <th>Dry Goods</th>
                  <th>Perishables</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <!-- Add your orderbook history data here as rows -->
                <tr>
                  <td>OB12345</td>
                  <td>30/10/23 - 05/11/23</td>
                  <td>20</td>
                  <td>65</td>
                  <td>7</td>
                  <td>13</td>
                  <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#allocationModal">View </button>
                    <button class="btn btn-danger">Delete</button>
                  </td>
                </tr>
                <tr>
                    <td>OB12346</td>
                    <td>06/11/23 - 12/11/23</td>
                    <td>20</td>
                    <td>65</td>
                    <td>7</td>
                  <td>13</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#allocationModal">View </button>
                      <button class="btn btn-danger">Delete</button>
                    </td>
                  </tr>
                  <tr>
                    <td>OB12347</td>
                    <td>13/11/23 - 19/11/23</td>
                    <td>20</td>
                    <td>65</td>
                    <td>7</td>
                  <td>13</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#allocationModal">View </button>
                      <button class="btn btn-danger">Delete</button>
                    </td>
                  </tr>
                  <tr>
                    <td>OB12354</td>
                    <td>20/11/23 - 26/11/23</td>
                    <td>20</td>
                    <td>65</td>
                    <td>7</td>
                  <td>13</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#allocationModal">View </button>
                      <button class="btn btn-danger">Delete</button>
                    </td>
                  </tr>
              </tbody>
            </table>
                                     <!-- Pagination -->
 <nav aria-label="Page navigation">
    <ul class="pagination justify-content-end" id="pagination">
      <li class="page-item disabled" id="prevPage">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
    </ul>
  </nav>
          </div>
      <!-- Modal -->
      <div class="modal fade" id="allocationModal" tabindex="-1" aria-labelledby="allocationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="allocationModalLabel">Center Allocation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="scrollable-table table-striped table-hover">
                        <table class="table table-bordered">
                            <thead class="table-primary">
                                <tr>
                                    <th>Center</th>
                                    <th>24 Hour Ration Pack</th>
                                    <th>Coffee</th>
                                    <th>Cooking Oil</th>
                                    <th>Margarine</th>
                                    <th>Mealie Meal</th>
                                    <th>Rice</th>
                                    <th>Salt</th>
                                    <th>Sugar</th>
                                    <th>Tea</th>
                                    <th>Bananas</th>
                                    <th>Cabbages</th>
                                    <th>Onions</th>
                                    <th>Oranges</th>
                                    <th>Potatoes</th>
                                    <th>Tomatoes</th>
                                    <th>Beef</th>
                                    <th>Bread</th>
                                    <th>Chicken</th>
                                    <th>Eggs</th>
                                    <th>Milk</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Center 1</td>
                                    <td>100</td>
                                    <td>50</td>
                                    <td>200</td>
                                    <td>150</td>
                                    <td>300</td>
                                    <td>250</td>
                                    <td>100</td>
                                    <td>400</td>
                                    <td>300</td>
                                    <td>120</td>
                                    <td>180</td>
                                    <td>90</td>
                                    <td>70</td>
                                    <td>200</td>
                                    <td>250</td>
                                    <td>80</td>
                                    <td>60</td>
                                    <td>250</td>
                                    <td>400</td>
                                </tr>
                                <tr>
                                    <td>Center 2</td>
                                    <td>75</td>
                                    <td>40</td>
                                    <td>180</td>
                                    <td>120</td>
                                    <td>250</td>
                                    <td>200</td>
                                    <td>80</td>
                                    <td>300</td>
                                    <td>220</td>
                                    <td>90</td>
                                    <td>140</td>
                                    <td>70</td>
                                    <td>60</td>
                                    <td>180</td>
                                    <td>200</td>
                                    <td>60</td>
                                    <td>45</td>
                                    <td>200</td>
                                    <td>350</td>
                                </tr>
                                <tr>
                                    <td>Center 3</td>
                                    <td>50</td>
                                    <td>30</td>
                                    <td>150</td>
                                    <td>100</td>
                                    <td>200</td>
                                    <td>180</td>
                                    <td>70</td>
                                    <td>250</td>
                                    <td>180</td>
                                    <td>75</td>
                                    <td>120</td>
                                    <td>60</td>
                                    <td>50</td>
                                    <td>150</td>
                                    <td>160</td>
                                    <td>50</td>
                                    <td>40</td>
                                    <td>160</td>
                                    <td>300</td>
                                </tr>
                                <!-- Add more rows for other centers -->
                            </tbody>
                            
                        </table>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Download</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

    </div>

    <!-- Footer container -->
<div class="main-footer">
  <span>&copy; 2023. Agrifora Management System. All Rights Reserved.</span>
  <span>Created by: <a href="http://soxfort.com" target="_blank">Soxfort Solutions | Intuitive Innovation</a></span>
</div><!-- main-footer -->
        <script src="js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="js/main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="js/charts-demo.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const searchInput = document.getElementById('search-input');
        const tableRows = document.querySelectorAll('tbody tr');
    
        searchInput.addEventListener('input', function () {
          const searchTerm = searchInput.value.toLowerCase();
    
          tableRows.forEach(function (row) {
            const orderbookNumber = row.querySelector('td:nth-child(1)').textContent.toLowerCase();
            const period = row.querySelector('td:nth-child(2)').textContent.toLowerCase();
    
            // Check if the search term matches orderbook number or period
            if (orderbookNumber.includes(searchTerm) || period.includes(searchTerm)) {
              row.style.display = '';
            } else {
              row.style.display = 'none';
            }
          });
        });
      });
    </script>
    
     <script>$('.productSelector').select2({
      placeholder: 'Select an option',
      dropdownParent: 'productSelector'
    });
  </script>
 
