
        <div class="mx-auto ms-lg-80 ps-lg-4">
      <section>
        <div class="p-8 bg-white navbar-light">
          <div class="row align-items-center justify-content-between">
            <div class="col-12 col-lg-6 mb-4 mb-lg-0">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                  <li class="breadcrumb-item" aria-current="page">
                    <a class="d-flex align-items-center" href="#">
                      <svg class="text-primary me-2" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.8737 16.875V9.02647C16.8737 8.93939 16.8555 8.85327 16.8202 8.77363C16.785 8.694 16.7335 8.6226 16.6691 8.56402L10.4187 2.88159C10.3036 2.77699 10.1537 2.71904 9.99821 2.71904C9.84272 2.71905 9.69281 2.77701 9.57777 2.88162L3.3282 8.56402C3.26377 8.6226 3.2123 8.69399 3.17707 8.77363C3.14185 8.85326 3.12366 8.93937 3.12366 9.02645V16.875" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M1.24866 16.875H18.7487" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M11.8732 16.8743V12.4993C11.8732 12.3336 11.8073 12.1746 11.6901 12.0574C11.5729 11.9402 11.4139 11.8743 11.2482 11.8743H8.74817C8.58241 11.8743 8.42344 11.9402 8.30623 12.0574C8.18902 12.1746 8.12317 12.3336 8.12317 12.4993V16.8743" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                      <span>Orderbook Current</span>
                    </a>
                  </li>
              
                </ol>
              </nav>
            </div>
           
          </div>
        </div>
      </section>
      <section class="py-6">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <div class="p-8 border rounded-2">
                <div class="d-flex mb-6 align-items-start justify-content-between">
                  <span class="d-inline-flex align-items-center justify-content-center bg-light-light rounded-2" style="width: 40px; height: 40px;">
                    <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2.1946 11.4494C1.35561 10.0351 1.06179 8.36309 1.36831 6.74744C1.67483 5.1318 2.56061 3.68362 3.85932 2.67485C5.15803 1.66607 6.78032 1.1661 8.42158 1.2688C10.0628 1.37151 11.6101 2.06983 12.773 3.23264C13.9358 4.39545 14.6341 5.94275 14.7368 7.58401C14.8395 9.22526 14.3396 10.8476 13.3308 12.1463C12.322 13.445 10.8738 14.3308 9.25821 14.6373C7.64256 14.9438 5.97059 14.65 4.55624 13.811L4.55626 13.811L2.22397 14.4773C2.12747 14.5049 2.02536 14.5062 1.92821 14.481C1.83106 14.4558 1.74242 14.4051 1.67145 14.3342C1.60049 14.2632 1.5498 14.1745 1.52462 14.0774C1.49945 13.9803 1.50071 13.8781 1.52829 13.7816L2.19466 11.4494L2.1946 11.4494Z" stroke="#5F27CE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M5.75 6.59375H10.25" stroke="#5F27CE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M5.75 9.40625H10.25" stroke="#5F27CE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </span>
            
                </div>
                <h1 class="mb-4">20</h1>
                <p class="mb-0">
                  <span>Stock Items</span>
                
                </p>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <div class="p-8 border rounded-2">
                <div class="d-flex mb-6 align-items-start justify-content-between">
                  <span class="d-inline-flex align-items-center justify-content-center bg-danger-light rounded-2" style="width: 40px; height: 40px;">
                    <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13.5 5H2.5C2.22386 5 2 5.22386 2 5.5V13.5C2 13.7761 2.22386 14 2.5 14H13.5C13.7761 14 14 13.7761 14 13.5V5.5C14 5.22386 13.7761 5 13.5 5Z" stroke="#E7430F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M11 4V3C11 2.73478 10.8736 2.48043 10.6485 2.29289C10.4235 2.10536 10.1183 2 9.8 2H6.2C5.88174 2 5.57652 2.10536 5.35147 2.29289C5.12643 2.48043 5 2.73478 5 3V4" stroke="#E7430F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M2 8H14" stroke="#E7430F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </span>
          
                </div>
                <h1 class="mb-4">65</h1>
                <p class="mb-0">
                  <span>Delivery Centers</span>
                  
                </p>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-4 mb-md-0">
              <div class="p-8 border rounded-2">
                <div class="d-flex mb-6 align-items-start justify-content-between">
                  <span class="d-inline-flex align-items-center justify-content-center bg-light-light rounded-2" style="width: 40px; height: 40px;">
                    <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2.1946 11.4494C1.35561 10.0351 1.06179 8.36309 1.36831 6.74744C1.67483 5.1318 2.56061 3.68362 3.85932 2.67485C5.15803 1.66607 6.78032 1.1661 8.42158 1.2688C10.0628 1.37151 11.6101 2.06983 12.773 3.23264C13.9358 4.39545 14.6341 5.94275 14.7368 7.58401C14.8395 9.22526 14.3396 10.8476 13.3308 12.1463C12.322 13.445 10.8738 14.3308 9.25821 14.6373C7.64256 14.9438 5.97059 14.65 4.55624 13.811L4.55626 13.811L2.22397 14.4773C2.12747 14.5049 2.02536 14.5062 1.92821 14.481C1.83106 14.4558 1.74242 14.4051 1.67145 14.3342C1.60049 14.2632 1.5498 14.1745 1.52462 14.0774C1.49945 13.9803 1.50071 13.8781 1.52829 13.7816L2.19466 11.4494L2.1946 11.4494Z" stroke="#5F27CE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M5.75 6.59375H10.25" stroke="#5F27CE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M5.75 9.40625H10.25" stroke="#5F27CE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </span>
                 
                </div>
                <h1 class="mb-4">13</h1>
                <p class="mb-0">
                  <span>Perishable</span>   
                </p>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 px-4">
              <div class="p-8 border rounded-2">
                <div class="d-flex mb-6 align-items-start justify-content-between">
                  <span class="d-inline-flex align-items-center justify-content-center bg-danger-light rounded-2" style="width: 40px; height: 40px;">
                    <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13.5 5H2.5C2.22386 5 2 5.22386 2 5.5V13.5C2 13.7761 2.22386 14 2.5 14H13.5C13.7761 14 14 13.7761 14 13.5V5.5C14 5.22386 13.7761 5 13.5 5Z" stroke="#E7430F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M11 4V3C11 2.73478 10.8736 2.48043 10.6485 2.29289C10.4235 2.10536 10.1183 2 9.8 2H6.2C5.88174 2 5.57652 2.10536 5.35147 2.29289C5.12643 2.48043 5 2.73478 5 3V4" stroke="#E7430F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M2 8H14" stroke="#E7430F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </span>
    
                </div>
                <h1 class="mb-4">7</h1>
                <p class="mb-0">
                  <span>Dry Goods</span>
               
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="col-md-4">
                                
        <!-- Modal Button for Upload Orderbook -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#uploadOrderbookModal">
            Upload Orderbook
        </button>
    
        <!-- Modal for Upload Orderbook -->
        <div class="modal fade" id="uploadOrderbookModal" tabindex="-1" aria-labelledby="uploadOrderbookModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="uploadOrderbookModalLabel">Upload Orderbook</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Date Range Selector -->
                           
<div class="input-group">
<label for="orderbookdates" class="form-label">Select date range:</label>
<input type="date" id="fromDate" class="form-control" placeholder="From date">
<input type="date" id="toDate" class="form-control" placeholder="To date">

</div>
                        
                        <!-- File Upload Section -->
                        <div class="mb-3">
                            <label for="orderbookFile" class="form-label">Upload Orderbook File:</label>
                            <input type="file" class="form-control" id="orderbookFile" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <!-- You can add an event handler for the "Upload" button here -->
                        <button type="button" class="btn btn-primary"data-bs-dismiss="modal">Upload</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br></br>
    <div><h3>Orderbook for 01/01/2023 to 07/01/2023</h3></div>
            <!-- ... (other content) ... -->
            <div class="col-md-12">
                  <!-- Nav Tabs -->
        <ul class="nav nav-tabs mt-3" id="productstabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="perishables-tab" data-bs-toggle="tab" href="#perishables" role="tab" aria-controls="perishables" aria-selected="true">Perishables</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="drygoods-tab" data-bs-toggle="tab" href="#drygoods" role="tab" aria-controls="drygoods" aria-selected="false">Dry Goods</a>
            </li>
    
          </ul>
                <!-- ... (tabs and tab content) ... -->
                <div class="tab-pane fade show active" id="dry-goods" role="tabpanel" aria-labelledby="dry-goods-tab">
                    <div class="container">
                        <section class="py-6">
                            <div class="container">
                                <!-- Add Update Button, Search Bar, and Filter -->
                                <div class="row mb-3">
                                 
                                    <div class="col-md-4">
                                        <label for="search-input"></label>
                                        <input type="text" id="search-input" class="form-control" placeholder="Search...">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="table-filter">Show:</label>
                                        <select id="table-filter" class="form-select">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="all">All</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Table with Updated Headers -->
                                <div class="table-responsive border rounded">
                                    <table id="editableTable" class="table table-bordered table-striped table-hover">
                                        <thead class="table-primary">
                                            <tr>
                                                <th>No.</th>
                                                <th>Unit</th>
                                                <th>Location</th>
                                                <th>Delivery Point</th>
                                                <th>Sugar</th>
                                                <th>Tea</th>
                                                <th>Coffee</th>
                                                <th>Mealie-Meal</th>
                                                <th>Rice</th>
                                                <th>Cooking Oil</th>
                                                <th>24-Hour Ration Pack</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-group-divider">
                                            <!-- Rows with editable content -->
                                            <tr>
                                                <td>1</td>
                                                <td contenteditable="true">1 AD REGT</td>
                                                <td contenteditable="true">REDCLIFF</td>
                                                <td contenteditable="true">1 AD REGT</td>
                                                <td contenteditable="true">2,088</td>
                                                <td contenteditable="true">2,153</td>
                                                <td contenteditable="true">300</td>
                                                <td contenteditable="true">1,230</td>
                                                <td contenteditable="true">1,450</td>
                                                <td contenteditable="true">210</td>
                                                <td contenteditable="true">350</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td contenteditable="true">1.3 INF (Beitbridge)</td>
                                                <td contenteditable="true">Beithbridge</td>
                                                <td contenteditable="true">11 Inf Bn</td>
                                                <td contenteditable="true">10</td>
                                                <td contenteditable="true">20</td>
                                                <td contenteditable="true">30</td>
                                                <td contenteditable="true">100</td>
                                                <td contenteditable="true">10</td>
                                                <td contenteditable="true">20</td>
                                                <td contenteditable="true">30</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td contenteditable="true">11 Inf Bn</td>
                                                <td contenteditable="true">REDCLIFF</td>
                                                <td contenteditable="true">HQ 1 Bde</td>
                                                <td contenteditable="true">10</td>
                                                <td contenteditable="true">20</td>
                                                <td contenteditable="true">30</td>
                                                <td contenteditable="true">100</td>
                                                <td contenteditable="true">10</td>
                                                <td contenteditable="true">20</td>
                                                <td contenteditable="true">30</td>
                                            </tr>
                                            <tr>
                                              <td>4</td>
                                              <td contenteditable="true">32 Inf Bn</td>
                                              <td contenteditable="true">REDCLIFF</td>
                                              <td contenteditable="true">HQ 1 Bde</td>
                                              <td contenteditable="true">10</td>
                                              <td contenteditable="true">20</td>
                                              <td contenteditable="true">30</td>
                                              <td contenteditable="true">100</td>
                                              <td contenteditable="true">10</td>
                                              <td contenteditable="true">20</td>
                                              <td contenteditable="true">30</td>
                                          </tr>
                                          <tr>
                                            <td>5</td>
                                            <td contenteditable="true">33 RF Bn</td>
                                            <td contenteditable="true">REDCLIFF</td>
                                            <td contenteditable="true">HQ 2 Bde</td>
                                            <td contenteditable="true">10</td>
                                            <td contenteditable="true">20</td>
                                            <td contenteditable="true">30</td>
                                            <td contenteditable="true">100</td>
                                            <td contenteditable="true">10</td>
                                            <td contenteditable="true">20</td>
                                            <td contenteditable="true">30</td>
                                        </tr>
                                        <tr>
                                          <td>6</td>
                                          <td contenteditable="true">42 INF BN</td>
                                          <td contenteditable="true">REDCLIFF</td>
                                          <td contenteditable="true">HQ 2 Bde</td>
                                          <td contenteditable="true">10</td>
                                          <td contenteditable="true">20</td>
                                          <td contenteditable="true">30</td>
                                          <td contenteditable="true">100</td>
                                          <td contenteditable="true">10</td>
                                          <td contenteditable="true">20</td>
                                          <td contenteditable="true">30</td>
                                      </tr>
                                            <!-- Repeat rows for other entries -->
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td></td>
                                                <td><strong></strong></td>
                                                <td></td>
                                                <td><strong>Total:</strong></td>
                                                <td id="totalSugar"><strong>2,137</strong></td>
                                                <td id="totalTea"><strong>2,253</strong></td>
                                                <td id="totalCoffee"><strong>450</strong></td>
                                                <td id="totalMealieMeal"><strong>1,730</strong></td>
                                                <td id="totalRice"><strong>1,500</strong></td>
                                                <td id="totalCookingOil"><strong>310</strong></td>
                                                <td id="totalRationPack"><strong>500</strong></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="d-flex justify-content-center">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <!-- Pagination items will be dynamically generated here -->
        </ul>
    </nav>
</div>

                            </div>
                        </section>
                        <!-- Modal -->
<div class="modal fade" id="addUnitModal" tabindex="-1" aria-labelledby="addUnitModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUnitModalLabel">Add New Unit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form for adding a new unit -->
                <form>
                    <div class="mb-3">
                        <label for="unit" class="form-label">Unit:</label>
                        <input type="text" class="form-control" id="unit" name="unit">
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location:</label>
                        <input type="text" class="form-control" id="location" name="location">
                    </div>
                    <div class="mb-3">
                        <label for="deliveryPoint" class="form-label">Delivery Point:</label>
                        <input type="text" class="form-control" id="deliveryPoint" name="deliveryPoint">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
                    </div>
                </div>
                <!-- ... (perishables tab content) ... -->
            </div>
        </div>
    </div>
        <!-- Footer container -->
        <div class="main-footer">
          <span>&copy; 2023. Maguta Stock Management System. All Rights Reserved.</span>
          <span>Created by: <a href="http://agrifora.co.zw" target="_blank">Agrifora| People |Production |Purpose</a></span>
      </div><!-- main-footer -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap/bootstrap.bundle.min.js"></script>

    <script>
        // Add an event listener to the "Update" button
        document.getElementById("updateTable").addEventListener("click", function () {
            updateTotal();
        });
    
        // Function to update the total based on edited values
        function updateTotal() {
            let totalSugar = 0;
            let totalTea = 0;
            let totalCoffee = 0;
            let totalMealieMeal = 0;
            let totalRice = 0;
            let totalCookingOil = 0;
            let totalRationPack = 0;
    
            // Loop through the rows and update totals
            const rows = document.querySelectorAll("#editableTable tbody tr");
            rows.forEach((row) => {
                const sugar = parseNumber(row.cells[4].textContent);
                const tea = parseNumber(row.cells[5].textContent);
                const coffee = parseNumber(row.cells[6].textContent);
                const mealieMeal = parseNumber(row.cells[7].textContent);
                const rice = parseNumber(row.cells[8].textContent);
                const cookingOil = parseNumber(row.cells[9].textContent);
                const rationPack = parseNumber(row.cells[10].textContent);
    
                totalSugar += isNaN(sugar) ? 0 : sugar;
                totalTea += isNaN(tea) ? 0 : tea;
                totalCoffee += isNaN(coffee) ? 0 : coffee;
                totalMealieMeal += isNaN(mealieMeal) ? 0 : mealieMeal;
                totalRice += isNaN(rice) ? 0 : rice;
                totalCookingOil += isNaN(cookingOil) ? 0 : cookingOil;
                totalRationPack += isNaN(rationPack) ? 0 : rationPack;
            });
    
 // Update the total values in the footer with comma separators and make them bold
document.getElementById("totalSugar").innerHTML = `<strong>${formatNumber(totalSugar)}</strong>`;
document.getElementById("totalTea").innerHTML = `<strong>${formatNumber(totalTea)}</strong>`;
document.getElementById("totalCoffee").innerHTML = `<strong>${formatNumber(totalCoffee)}</strong>`;
document.getElementById("totalMealieMeal").innerHTML = `<strong>${formatNumber(totalMealieMeal)}</strong>`;
document.getElementById("totalRice").innerHTML = `<strong>${formatNumber(totalRice)}</strong>`;
document.getElementById("totalCookingOil").innerHTML = `<strong>${formatNumber(totalCookingOil)}</strong>`;
document.getElementById("totalRationPack").innerHTML = `<strong>${formatNumber(totalRationPack)}</strong>`;

        // Function to parse a number with commas and return a numeric value
        function parseNumber(value) {
            return parseFloat(value.replace(/,/g, '')) || 0;
        }
    
        // Function to format a number with commas for display
        function formatNumber(value) {
            return value.toLocaleString();
        }
    </script>
    
    <script>
        // Function to add a new unit to the table
        function addNewUnit() {
            // Get the values entered in the modal form
            var unit = document.getElementById("unit").value;
            var location = document.getElementById("location").value;
            var deliveryPoint = document.getElementById("deliveryPoint").value;

            // Reference to the table body
            var tableBody = document.getElementById("unitTableBody");

            // Create a new row for the table
            var newRow = tableBody.insertRow();

            // Create and populate cells for the new row
            var cellIndex = newRow.insertCell(0);
            var cellUnit = newRow.insertCell(1);
            var cellLocation = newRow.insertCell(2);
            var cellDeliveryPoint = newRow.insertCell(3);

            cellIndex.innerHTML = tableBody.rows.length; // Incremental index
            cellUnit.innerHTML = unit;
            cellLocation.innerHTML = location;
            cellDeliveryPoint.innerHTML = deliveryPoint;

            // Clear the modal form fields
            document.getElementById("unit").value = "";
            document.getElementById("location").value = "";
            document.getElementById("deliveryPoint").value = "";

            // Close the modal
            $('#addUnitModal').modal('hide');
        }
    </script>
    <script>
        const itemsPerPage = 10; // Number of items to display per page
        const tableContainer = document.getElementById("table-container");
        const table = document.getElementById("editableTable");
        const totalRows = table.tBodies[0].rows.length;
    
        // Initialize pagination
        const pagination = new Pagination("editableTable", {
            itemsPerPage: itemsPerPage,
            container: tableContainer,
            labels: {
                previous: "Previous",
                next: "Next"
            }
        });
    
        // Update the table and totals when a new page is selected
        pagination.onPageChange((currentPage) => {
            const startIndex = (currentPage - 1) * itemsPerPage;
            const endIndex = startIndex + itemsPerPage;
            const rows = table.tBodies[0].rows;
    
            for (let i = 0; i < totalRows; i++) {
                if (i >= startIndex && i < endIndex) {
                    rows[i].classList.remove("d-none");
                } else {
                    rows[i].classList.add("d-none");
                }
            }
    
            // Update totals
            updateTotal();
        });
    
        // Initial update
        updateTotal();
    </script> 
