<section class="position-relative py-8 login-section" style="height: 100%;">
  <% for (let error of errors) { %>
    <div class="alert alert-danger" role="alert"><%= error.message %></div>
    <% } %> <% if(message.success){ %>
    <div class="alert alert-success" role="alert"><%= message.success %></div>
    <% } %>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-6 py-lg-20">
          <div class="mw-md mx-auto">
            <a class="d-inline-block h3 mb-12 text-decoration-none" href="#">
              <div class="position-relative mt-n20 mw-md mx-auto text-center">
                <!-- Add the d-none class to hide these elements -->
                <a href="/">
                  <img src="sirius-assets/images/logos/sirius-logoo.png" alt="" width="496px" class="" style="padding: 50px;">
                </a><br>
                <h2 class="mb-8"></h2>
                <h2 class="mb-8">Account Verification</h2>
            </div>
            
            <form action="/set-password" method="post">
              <input type="hidden" name="email" value="<%= email %>" />
              <input type="hidden" name="key" value="<%= key %>" />
                <div class="mb-6">
                  <label class="form-label" for="exampleForm1">Password</label>
                  <input class="form-control" id="exampleForm1" type="password" name="new_password" placeholder="Enter Password" required>
                  <span toggle="#exampleForm1" class="password-toggle">Show</span>
                </div>
                <div class="mb-6">
                  <label class="form-label" for="exampleForm2">Confirm Password</label>
                  <input class="form-control" id="exampleForm2" type="password" name="confirm_password" placeholder="Confirm Password" required>
                  <span toggle="#exampleForm2" class="password-toggle">Show</span>
                </div>
              
                <button type="submit" class="btn btn-primary py-3 mb-4 w-100">Confirm</button>
              </form>
        
          </div>
        
        </div>
      </div>
    </div>
    <div class="d-none d-lg-flex align-items-center justify-content-center position-absolute top-0 bottom-0 end-0 col-6 bg-dark">
      <img class="img-fluid" style="max-width: 100%; max-height: 924px; object-fit: cover; object-position: bottom;" src="sirius-assets/images/backgroundold.png" alt="">
  </div>
  
  </section>
  <script>
    // Select all password toggle elements
const passwordToggles = document.querySelectorAll('.password-toggle');

// Add a click event listener to each toggle element
passwordToggles.forEach(toggle => {
toggle.addEventListener('click', () => {
const passwordField = document.querySelector(toggle.getAttribute('toggle'));
if (passwordField.type === 'password') {
  passwordField.type = 'text';
  toggle.textContent = 'Hide';
} else {
  passwordField.type = 'password';
  toggle.textContent = 'Show';
}
});
});
  </script>