html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet", href="https://rsms.me/inter/inter.css")
        link(rel="stylesheet", href="css/bootstrap/bootstrap.min.css")
        link(rel="icon", type="image/png", sizes="32x32", href="shuffle-for-bootstrap.png")
    body
        div(class="")
            div
                nav(class="d-lg-none navbar navbar-dark bg-dark")
                    div(class="container-fluid")
                        a(class="d-inline-block h3 mb-0 text-decoration-none text-white", href="#")
                            img(src="sirius-assets/images/logos/sirius-logo-dark.svg", alt="", width="96px")
                        button(class="navbar-burger navbar-toggler", type="button")
                            span(class="navbar-toggler-icon")
                div(class="position-relative navbar-menu d-none d-lg-block", style="z-index: 9999;")
                    div(class="navbar-backdrop d-lg-none position-fixed top-0 end-0 bottom-0 start-0 bg-dark", style="opacity: .5")
                    div(class="position-fixed top-0 start-0 bottom-0 col-8 mw-xs px-6 pt-8 pb-8 bg-dark overflow-auto")
                        a(class="d-inline-block h3 mb-10 text-decoration-none text-white", href="#")
                            img(src="sirius-assets/images/logos/sirius-logo-dark.svg", alt="", width="96px")
                        div(class="mb-10 p-4 border shadow rounded-2 position-relative")
                            div(class="d-flex align-items-center")
                                img(class="me-4 rounded-2", src="sirius-assets/images/photos/twitch.svg", alt="", height="40")
                                div
                                    p(class="fw-bold text-white mb-0") Twitch
                                    p(class="mb-0") Workspace
                            select(class="position-absolute top-0 start-0 bottom-0 end-0 form-select bg-transparent border-0 text-primary", name="", id="")
                                option(value="")
                        ul(class="mb-8 mb-md-24 list-unstyled")
                            li(class="mb-2")
                                a(class="d-flex py-3 px-4 align-items-center text-decoration-none rounded bg-secondary text-white fw-bold", href="#")
                                    svg(class="me-3", width="20", height="20", viewbox="0 0 20 20", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M16.8735 16.875V9.02647C16.8735 8.93939 16.8553 8.85327 16.8201 8.77363C16.7849 8.69399 16.7334 8.62259 16.669 8.56402L10.4185 2.88159C10.3035 2.77699 10.1536 2.71903 9.99808 2.71904C9.84259 2.71905 9.69269 2.77701 9.57765 2.88161L3.32807 8.56402C3.26365 8.6226 3.21218 8.69399 3.17695 8.77362C3.14173 8.85326 3.12354 8.93937 3.12354 9.02645V16.875", stroke="white", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M1.24854 16.875H18.7485", stroke="white", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M11.873 16.8743V12.4993C11.873 12.3336 11.8072 12.1746 11.69 12.0574C11.5728 11.9402 11.4138 11.8743 11.248 11.8743H8.74805C8.58229 11.8743 8.42331 11.9402 8.3061 12.0574C8.18889 12.1746 8.12305 12.3336 8.12305 12.4993V16.8743", stroke="white", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    span Home
                            li(class="mb-2")
                                a(class="d-flex py-3 px-4 align-items-center text-decoration-none text-white fw-bold", href="#")
                                    svg(class="me-3", width="20", height="20", viewbox="0 0 20 20", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M1.25 6.875V14.0625C1.25 14.4769 1.41462 14.8743 1.70765 15.1674C2.00067 15.4604 2.3981 15.625 2.8125 15.625", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M8.125 8.4375H14.75", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M8.125 11.5625H14.75", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M4.48138 14.0625V5C4.48138 4.83424 4.55171 4.67527 4.6769 4.55806C4.8021 4.44085 4.97189 4.375 5.14894 4.375H17.8324C18.0095 4.375 18.1793 4.44085 18.3045 4.55806C18.4297 4.67527 18.5 4.83424 18.5 5V14.375C18.5 14.7065 18.3593 15.0245 18.109 15.2589C17.8586 15.4933 17.519 15.625 17.1649 15.625H2.8125C3.03166 15.625 3.24868 15.5846 3.45115 15.5061C3.65363 15.4275 3.83761 15.3124 3.99258 15.1674C4.14755 15.0223 4.27048 14.85 4.35435 14.6604C4.43822 14.4709 4.48138 14.2677 4.48138 14.0625V14.0625Z", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    span Inventory
                                    |                   
                                    span(class="d-flex ms-auto align-items-center justify-content-center bg-danger text-white rounded-circle", style="width: 24px; height: 24px; font-size: 10px;") 3
                            li(class="mb-2")
                                a(class="d-flex py-3 px-4 align-items-center text-decoration-none text-white fw-bold", href="#")
                                    svg(class="me-3", width="20", height="20", viewbox="0 0 20 20", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M6.875 12.5C9.11866 12.5 10.9375 10.6812 10.9375 8.4375C10.9375 6.19384 9.11866 4.375 6.875 4.375C4.63134 4.375 2.8125 6.19384 2.8125 8.4375C2.8125 10.6812 4.63134 12.5 6.875 12.5Z", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M12.1416 4.52633C12.7004 4.3689 13.2864 4.33303 13.8602 4.42115C14.434 4.50927 14.9822 4.71933 15.468 5.03717C15.9538 5.35502 16.3658 5.77327 16.6763 6.26376C16.9868 6.75426 17.1886 7.30559 17.2681 7.88065C17.3476 8.4557 17.303 9.04111 17.1372 9.59745C16.9714 10.1538 16.6883 10.6681 16.307 11.1059C15.9256 11.5436 15.4549 11.8945 14.9266 12.135C14.3982 12.3755 13.8244 12.4999 13.2439 12.5", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M1.24976 15.4216C1.88424 14.5191 2.72655 13.7825 3.70558 13.274C4.68461 12.7655 5.77161 12.5 6.87482 12.5C7.97803 12.5 9.06506 12.7654 10.0441 13.2738C11.0232 13.7822 11.8656 14.5187 12.5001 15.4212", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M13.2439 12.5C14.3472 12.4992 15.4345 12.7643 16.4136 13.2728C17.3928 13.7813 18.235 14.5182 18.8689 15.4212", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    span Orders
                            li(class="mb-2")
                                a(class="d-flex py-3 px-4 align-items-center text-decoration-none text-white fw-bold", href="#", data-bs-toggle="collapse", data-bs-target="#menus1-1")
                                    svg(class="me-3", width="20", height="20", viewbox="0 0 20 20", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M17.8125 16.25H2.1875", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M7.8125 16.25V6.875H12.1875", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M16.5625 3.125H12.1875V16.25H16.5625V3.125Z", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M3.4375 16.25V10.625H7.8125", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    span Analytics
                                    |                   
                                    span(class="ms-auto")
                                        svg(width="10", height="7", viewbox="0 0 10 7", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            path(d="M8.75 1.5L5 5.25L1.25 1.5", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                div(class="collapse ps-6", id="menus1-1")
                                    a(class="d-flex mb-2 py-3 px-4 align-items-center text-decoration-none text-white fw-bold", href="#")
                                        svg(class="me-3", width="20", height="20", viewbox="0 0 20 20", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            path(d="M5.95325 10.3282L11.8907 3.1407L16.875 3.125L16.8593 8.1093L9.67184 14.0468", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M7.8125 12.1875L12.5 7.5", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M6.41732 15.4262L4.07817 17.7654C4.02013 17.8234 3.95123 17.8695 3.8754 17.9009C3.79957 17.9323 3.7183 17.9484 3.63622 17.9484C3.55415 17.9484 3.47288 17.9323 3.39705 17.9009C3.32122 17.8695 3.25232 17.8234 3.19428 17.7654L2.23457 16.8057C2.17654 16.7476 2.1305 16.6787 2.09909 16.6029C2.06768 16.5271 2.05151 16.4458 2.05151 16.3637C2.05151 16.2817 2.06768 16.2004 2.09909 16.1246C2.1305 16.0487 2.17654 15.9798 2.23457 15.9218L4.57372 13.5826C4.63176 13.5246 4.6778 13.4557 4.70921 13.3799C4.74062 13.304 4.75678 13.2228 4.75678 13.1407C4.75678 13.0586 4.74062 12.9774 4.70921 12.9015C4.6778 12.8257 4.63176 12.7568 4.57372 12.6988L2.9419 11.0669C2.82469 10.9497 2.75885 10.7908 2.75885 10.625C2.75885 10.4592 2.82469 10.3003 2.9419 10.1831L3.93302 9.19194C4.05023 9.07473 4.2092 9.00888 4.37496 9.00888C4.54072 9.00888 4.69969 9.07473 4.8169 9.19194L10.808 15.1831C10.9252 15.3003 10.9911 15.4592 10.9911 15.625C10.9911 15.7908 10.9252 15.9497 10.808 16.0669L9.8169 17.0581C9.69969 17.1753 9.54072 17.2411 9.37496 17.2411C9.2092 17.2411 9.05023 17.1753 8.93302 17.0581L7.3012 15.4262C7.18399 15.309 7.02502 15.2432 6.85926 15.2432C6.6935 15.2432 6.53453 15.309 6.41732 15.4262V15.4262Z", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        span Order Book
                                    |                   
                                    a(class="d-flex mb-2 py-3 px-4 align-items-center text-decoration-none text-white fw-bold", href="#")
                                        svg(class="me-3", width="20", height="20", viewbox="0 0 20 20", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            path(d="M2.70833 15L17.2917 15C18.0971 15 18.75 14.316 18.75 13.4722V2.77778C18.75 1.93401 18.0971 1.25 17.2917 1.25L2.70833 1.25C1.90292 1.25 1.25 1.93401 1.25 2.77778V13.4722C1.25 14.316 1.90292 15 2.70833 15Z", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M12.5 18.75H7.5", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M11.25 8.125L8.75 6.875V9.375L11.25 8.125Z", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        span Delivery Notes
                                    |                   
                                    a(class="d-flex py-3 px-4 align-items-center text-decoration-none text-white fw-bold", href="#")
                                        svg(class="me-3", width="20", height="20", viewbox="0 0 20 20", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            path(d="M13.75 4.375H17.5", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M15.625 2.5V6.25", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M2.4209 16.8743C3.1893 15.5442 4.29419 14.4398 5.62456 13.672C6.95493 12.9042 8.46393 12.5 9.99997 12.5C11.536 12.5 13.045 12.9043 14.3754 13.6721C15.7057 14.44 16.8106 15.5444 17.579 16.8744", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M14.6915 9.23303C14.3573 10.1354 13.7696 10.9221 12.9991 11.4987C12.2286 12.0752 11.3081 12.417 10.348 12.483C9.38797 12.549 8.42929 12.3364 7.58713 11.8708C6.74498 11.4052 6.05517 10.7063 5.60058 9.85813C5.14599 9.00997 4.94595 8.04859 5.02449 7.0895C5.10303 6.1304 5.45682 5.21438 6.04334 4.45148C6.62987 3.68857 7.42419 3.11124 8.33088 2.78883C9.23757 2.46642 10.2181 2.41265 11.1546 2.63397", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        span Invoices
                            li(class="mb-2")
                                a(class="d-flex py-3 px-4 align-items-center text-decoration-none text-white fw-bold", href="#")
                                    svg(class="me-3", width="20", height="20", viewbox="0 0 20 20", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M3.54956 13.8327C2.61735 12.2612 2.29088 10.4035 2.63146 8.60832C2.97204 6.81315 3.95624 5.20407 5.39924 4.08321C6.84225 2.96235 8.6448 2.40682 10.4684 2.52094C12.292 2.63505 14.0113 3.41097 15.3033 4.70298C16.5953 5.99499 17.3712 7.71422 17.4853 9.53783C17.5995 11.3614 17.044 13.164 15.9231 14.607C14.8022 16.05 13.1932 17.0342 11.398 17.3748C9.60285 17.7154 7.7451 17.3889 6.17361 16.4567L6.17362 16.4567L3.58218 17.1971C3.47497 17.2277 3.36151 17.2291 3.25357 17.2011C3.14563 17.1732 3.04713 17.1168 2.96828 17.038C2.88943 16.9592 2.83311 16.8607 2.80514 16.7527C2.77717 16.6448 2.77857 16.5313 2.80921 16.4241L3.54962 13.8327L3.54956 13.8327Z", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M7.5 8.4375H12.5", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M7.5 11.5625H12.5", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    span Reports
                                    |                   
                                    span(class="py-1 px-2 ms-auto bg-danger text-white rounded-pill") 99+
                            li(class="mb-2")
                                a(class="d-flex py-3 px-4 align-items-center text-decoration-none text-white fw-bold", href="#")
                                    svg(class="me-3", width="20", height="20", viewbox="0 0 20 20", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M10 12.5C11.3807 12.5 12.5 11.3807 12.5 10C12.5 8.61929 11.3807 7.5 10 7.5C8.61929 7.5 7.5 8.61929 7.5 10C7.5 11.3807 8.61929 12.5 10 12.5Z", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M9.5995 3.44953L8.12533 2.34422C8.04623 2.28472 7.95413 2.24487 7.85661 2.22795C7.75909 2.21103 7.65894 2.21753 7.56442 2.24691C7.10786 2.38988 6.6649 2.57315 6.24079 2.79456C6.15299 2.84061 6.07741 2.90688 6.02027 2.9879C5.96313 3.06892 5.92608 3.16237 5.91218 3.26053L5.65158 5.08481C5.55224 5.17287 5.45499 5.26445 5.35982 5.35956C5.26468 5.4547 5.17308 5.55198 5.085 5.65139L5.08497 5.65142L3.261 5.91226C3.163 5.92611 3.06969 5.96306 2.98877 6.02005C2.90785 6.07705 2.84163 6.15245 2.79557 6.24006C2.57383 6.664 2.3902 7.10681 2.24686 7.56326C2.21734 7.6579 2.21076 7.75821 2.22764 7.8559C2.24453 7.95359 2.28441 8.04587 2.34399 8.12511L3.44968 9.59935C3.4417 9.73185 3.43769 9.86538 3.43766 9.99993C3.43766 10.1345 3.44167 10.268 3.44969 10.4006L3.44968 10.4007L2.34438 11.8748C2.28488 11.9539 2.24503 12.046 2.22811 12.1436C2.21119 12.2411 2.21769 12.3412 2.24707 12.4357C2.39004 12.8923 2.57331 13.3353 2.79471 13.7594C2.84076 13.8472 2.90703 13.9228 2.98805 13.9799C3.06907 14.037 3.16252 14.0741 3.26068 14.088L5.08497 14.3486C5.17302 14.4479 5.2646 14.5452 5.35972 14.6403C5.45485 14.7355 5.55213 14.8271 5.65155 14.9152L5.65158 14.9152L5.91241 16.7392C5.92627 16.8372 5.96321 16.9305 6.02021 17.0114C6.0772 17.0923 6.15261 17.1585 6.24022 17.2046C6.66416 17.4263 7.10696 17.61 7.56341 17.7533C7.65806 17.7828 7.75837 17.7894 7.85606 17.7725C7.95375 17.7556 8.04602 17.7157 8.12527 17.6562L9.59951 16.5505C9.73201 16.5585 9.86553 16.5625 10.0001 16.5625C10.1346 16.5625 10.2682 16.5585 10.4008 16.5505L10.4008 16.5505L11.875 17.6558C11.9541 17.7153 12.0462 17.7551 12.1437 17.7721C12.2412 17.789 12.3414 17.7825 12.4359 17.7531C12.8925 17.6101 13.3354 17.4269 13.7595 17.2055C13.8473 17.1594 13.9229 17.0931 13.98 17.0121C14.0372 16.9311 14.0742 16.8376 14.0881 16.7395L14.3487 14.9152C14.4481 14.8271 14.5453 14.7356 14.6405 14.6404C14.7356 14.5453 14.8272 14.448 14.9153 14.3486L14.9153 14.3486L16.7393 14.0878C16.8373 14.0739 16.9306 14.037 17.0115 13.98C17.0925 13.923 17.1587 13.8476 17.2047 13.7599C17.4265 13.336 17.6101 12.8932 17.7535 12.4367C17.783 12.3421 17.7896 12.2418 17.7727 12.1441C17.7558 12.0464 17.7159 11.9541 17.6563 11.8749L16.5506 10.4007C16.5586 10.2682 16.5626 10.1346 16.5627 10.0001C16.5627 9.86554 16.5586 9.73198 16.5506 9.5994L16.5506 9.59935L17.6559 8.12517C17.7154 8.04608 17.7553 7.95397 17.7722 7.85645C17.7891 7.75893 17.7826 7.65879 17.7532 7.56427C17.6103 7.10771 17.427 6.66475 17.2056 6.24063C17.1595 6.15284 17.0933 6.07725 17.0123 6.02012C16.9312 5.96298 16.8378 5.92593 16.7396 5.91203L14.9153 5.65142C14.8273 5.55209 14.7357 5.45484 14.6406 5.35967C14.5455 5.26453 14.4482 5.17293 14.3488 5.08485L14.3487 5.08481L14.0879 3.26085C14.074 3.16284 14.0371 3.06954 13.9801 2.98862C13.9231 2.90769 13.8477 2.84148 13.7601 2.79542C13.3362 2.57367 12.8933 2.39005 12.4369 2.24671C12.3423 2.21719 12.2419 2.2106 12.1443 2.22749C12.0466 2.24438 11.9543 2.28426 11.875 2.34384L10.4008 3.44953C10.2683 3.44155 10.1348 3.43754 10.0002 3.4375C9.86569 3.4375 9.73213 3.44151 9.59955 3.44953L9.5995 3.44953Z", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    span Settings
                            li(class="mb-2")
                                a(class="d-flex py-3 px-4 align-items-center text-decoration-none text-white fw-bold", href="#")
                                    svg(class="me-3", width="20", height="20", viewbox="0 0 20 20", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M10 17.5C14.1421 17.5 17.5 14.1421 17.5 10C17.5 5.85786 14.1421 2.5 10 2.5C5.85786 2.5 2.5 5.85786 2.5 10C2.5 14.1421 5.85786 17.5 10 17.5Z", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M10 13.125C11.7259 13.125 13.125 11.7259 13.125 10C13.125 8.27411 11.7259 6.875 10 6.875C8.27411 6.875 6.875 8.27411 6.875 10C6.875 11.7259 8.27411 13.125 10 13.125Z", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M7.79037 7.79028L4.69678 4.69669", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M12.2097 7.79028L15.3033 4.69669", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M12.2097 12.2097L15.3033 15.3033", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                        path(d="M7.79037 12.2097L4.69678 15.3033", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    span Support
                div(class="mx-auto ms-lg-80 ps-lg-4")
                    section
                        div(class="p-8 bg-white navbar-light")
                            div(class="row align-items-center justify-content-between")
                                div(class="col-12 col-lg-6 mb-4 mb-lg-0")
                                    nav(aria-label="breadcrumb")
                                        ol(class="breadcrumb mb-0")
                                            li(class="breadcrumb-item", aria-current="page")
                                                a(class="d-flex align-items-center", href="#")
                                                    svg(class="text-primary me-2", width="20", height="20", viewbox="0 0 20 20", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                        path(d="M16.8737 16.875V9.02647C16.8737 8.93939 16.8555 8.85327 16.8202 8.77363C16.785 8.694 16.7335 8.6226 16.6691 8.56402L10.4187 2.88159C10.3036 2.77699 10.1537 2.71904 9.99821 2.71904C9.84272 2.71905 9.69281 2.77701 9.57777 2.88162L3.3282 8.56402C3.26377 8.6226 3.2123 8.69399 3.17707 8.77363C3.14185 8.85326 3.12366 8.93937 3.12366 9.02645V16.875", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M1.24866 16.875H18.7487", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M11.8732 16.8743V12.4993C11.8732 12.3336 11.8073 12.1746 11.6901 12.0574C11.5729 11.9402 11.4139 11.8743 11.2482 11.8743H8.74817C8.58241 11.8743 8.42344 11.9402 8.30623 12.0574C8.18902 12.1746 8.12317 12.3336 8.12317 12.4993V16.8743", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                                    span Homepage
                                            li(class="breadcrumb-item active", aria-current="page")
                                                a(class="d-flex align-items-center", href="#")
                                                    svg(class="text-primary me-2", width="20", height="20", viewbox="0 0 20 20", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                        path(d="M17.8125 16.25H2.1875", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M7.8125 16.25V6.875H12.1875", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M16.5625 3.125H12.1875V16.25H16.5625V3.125Z", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M3.4375 16.25V10.625H7.8125", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                                    span Statistics
                                div(class="col-12 col-lg-6 d-flex")
                                    a(class="btn btn-outline-light d-inline-flex align-items-center justify-content-center p-0 ms-lg-auto me-2 shadow rounded-2", href="#", style="width: 40px; height: 40px;")
                                        svg(width="12", height="12", viewbox="0 0 12 12", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            path(d="M5.4375 9.375C7.61212 9.375 9.375 7.61212 9.375 5.4375C9.375 3.26288 7.61212 1.5 5.4375 1.5C3.26288 1.5 1.5 3.26288 1.5 5.4375C1.5 7.61212 3.26288 9.375 5.4375 9.375Z", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M8.22156 8.22189L10.4997 10.5", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    |               
                                    a(class="btn btn-outline-light d-inline-flex align-items-center justify-content-center p-0 me-2 shadow rounded-2", href="#", style="width: 40px; height: 40px;")
                                        svg(width="12", height="12", viewbox="0 0 12 12", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            path(d="M2.12974 8.29964C1.57041 7.35675 1.37453 6.2421 1.57887 5.165C1.78322 4.0879 2.37374 3.12245 3.23955 2.44994C4.10535 1.77742 5.18688 1.4441 6.28105 1.51257C7.37522 1.58104 8.40676 2.04659 9.18197 2.8218C9.95718 3.597 10.4227 4.62854 10.4912 5.72271C10.5597 6.81688 10.2264 7.89841 9.55386 8.76422C8.88135 9.63003 7.9159 10.2206 6.8388 10.4249C5.76171 10.6293 4.64706 10.4334 3.70416 9.87406L3.70417 9.87401L2.14931 10.3183C2.08498 10.3366 2.01691 10.3375 1.95214 10.3207C1.88738 10.3039 1.82828 10.2701 1.78097 10.2228C1.73366 10.1755 1.69986 10.1164 1.68308 10.0516C1.6663 9.98687 1.66714 9.9188 1.68552 9.85447L2.12977 8.29961L2.12974 8.29964Z", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    |               
                                    a(class="btn btn-outline-light d-inline-flex align-items-center justify-content-center p-0 me-2 shadow rounded-2", href="#", style="width: 40px; height: 40px;")
                                        svg(width="10", height="12", viewbox="0 0 10 12", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            path(d="M4 11H6", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M1.6988 4.14999C1.69819 3.73489 1.78393 3.32378 1.95108 2.94036C2.11823 2.55694 2.36348 2.20879 2.6727 1.91598C2.98192 1.62317 3.34899 1.39148 3.75275 1.23429C4.15651 1.07709 4.58897 0.997483 5.02522 1.00006C6.84554 1.01294 8.30157 2.45262 8.30157 4.18953V4.49999C8.30157 6.06693 8.64611 6.9762 8.94956 7.47317C8.98225 7.52627 8.99965 7.58663 8.99999 7.64817C9.00034 7.70971 8.98362 7.77025 8.95153 7.82368C8.91944 7.87711 8.87311 7.92155 8.81721 7.9525C8.76131 7.98346 8.69783 7.99984 8.63315 8H1.36685C1.30217 7.99984 1.23867 7.98345 1.18277 7.95249C1.12686 7.92153 1.08053 7.87708 1.04844 7.82364C1.01636 7.7702 0.999648 7.70965 1.00001 7.64811C1.00036 7.58656 1.01777 7.52619 1.05048 7.47309C1.3541 6.97611 1.69879 6.06685 1.69879 4.49999L1.6988 4.14999Z", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    |               
                                    a(href="#")
                                        img(class="img-fluid rounded-1", style="width: 40px; height: 40px;", src="https://images.unsplash.com/photo-1593789382576-54f489574d26?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128", alt="")
                    div(class="container")
                        section(class="py-6")
                            div(class="container")
                                div(class="row")
                                    div(class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0")
                                        div(class="p-8 border rounded-2")
                                            div(class="d-flex mb-6 align-items-start justify-content-between")
                                                span(class="d-inline-flex align-items-center justify-content-center bg-light-light rounded-2", style="width: 40px; height: 40px;")
                                                    svg(width="16", height="16", viewbox="0 0 16 16", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                        path(d="M2.1946 11.4494C1.35561 10.0351 1.06179 8.36309 1.36831 6.74744C1.67483 5.1318 2.56061 3.68362 3.85932 2.67485C5.15803 1.66607 6.78032 1.1661 8.42158 1.2688C10.0628 1.37151 11.6101 2.06983 12.773 3.23264C13.9358 4.39545 14.6341 5.94275 14.7368 7.58401C14.8395 9.22526 14.3396 10.8476 13.3308 12.1463C12.322 13.445 10.8738 14.3308 9.25821 14.6373C7.64256 14.9438 5.97059 14.65 4.55624 13.811L4.55626 13.811L2.22397 14.4773C2.12747 14.5049 2.02536 14.5062 1.92821 14.481C1.83106 14.4558 1.74242 14.4051 1.67145 14.3342C1.60049 14.2632 1.5498 14.1745 1.52462 14.0774C1.49945 13.9803 1.50071 13.8781 1.52829 13.7816L2.19466 11.4494L2.1946 11.4494Z", stroke="#5F27CE", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M5.75 6.59375H10.25", stroke="#5F27CE", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M5.75 9.40625H10.25", stroke="#5F27CE", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                                |                   
                                                span(class="badge bg-primary-light text-primary") 30 days
                                            h1(class="mb-4") 10
                                            p(class="mb-0")
                                                span Messages
                                                |                   
                                                span(class="text-danger ms-1")
                                                    svg(width="8", height="6", viewbox="0 0 8 6", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                        path(d="M3.7252 5.86379C3.75743 5.90613 3.79898 5.94045 3.84662 5.96408C3.89427 5.98771 3.94671 6 3.99988 6C4.05304 6 4.10549 5.98771 4.15313 5.96408C4.20078 5.94045 4.24233 5.90613 4.27455 5.86379L7.94134 0.522754C7.97571 0.472634 7.99575 0.414068 7.99931 0.353377C8.00286 0.292686 7.9898 0.232175 7.96153 0.178373C7.93326 0.124571 7.89086 0.0795221 7.83889 0.0480871C7.78693 0.0166521 7.72738 2.47717e-05 7.66667 -2.91301e-08L0.333088 -6.70252e-07C0.272378 2.412e-05 0.212828 0.0166514 0.160863 0.0480864C0.108899 0.0795214 0.066494 0.124571 0.0382243 0.178373C0.00995448 0.232175 -0.00310657 0.292686 0.000451105 0.353377C0.00400878 0.414068 0.0240502 0.472633 0.0584121 0.522753L3.7252 5.86379Z", fill="#EB3838")
                                                    span 20% less
                                    div(class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0")
                                        div(class="p-8 border rounded-2")
                                            div(class="d-flex mb-6 align-items-start justify-content-between")
                                                span(class="d-inline-flex align-items-center justify-content-center bg-danger-light rounded-2", style="width: 40px; height: 40px;")
                                                    svg(width="16", height="16", viewbox="0 0 16 16", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                        path(d="M13.5 5H2.5C2.22386 5 2 5.22386 2 5.5V13.5C2 13.7761 2.22386 14 2.5 14H13.5C13.7761 14 14 13.7761 14 13.5V5.5C14 5.22386 13.7761 5 13.5 5Z", stroke="#E7430F", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M11 4V3C11 2.73478 10.8736 2.48043 10.6485 2.29289C10.4235 2.10536 10.1183 2 9.8 2H6.2C5.88174 2 5.57652 2.10536 5.35147 2.29289C5.12643 2.48043 5 2.73478 5 3V4", stroke="#E7430F", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M2 8H14", stroke="#E7430F", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                                |                   
                                                span(class="badge bg-primary-light text-primary") 30 days
                                            h1(class="mb-4") 15
                                            p(class="mb-0")
                                                span Tasks
                                                |                   
                                                span(class="text-success ms-1")
                                                    svg(width="8", height="6", viewbox="0 0 8 6", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                        path(d="M4.27461 0.136213C4.24239 0.0938681 4.20084 0.0595451 4.15319 0.0359186C4.10555 0.0122921 4.0531 0 3.99994 0C3.94677 0 3.89433 0.0122921 3.84668 0.0359186C3.79904 0.0595451 3.75749 0.0938681 3.72526 0.136213L0.0584726 5.47725C0.0241109 5.52737 0.00406973 5.58593 0.000511956 5.64662C-0.00304582 5.70731 0.0100149 5.76782 0.0382846 5.82163C0.0665543 5.87543 0.10896 5.92048 0.160924 5.95191C0.212888 5.98335 0.272439 5.99998 0.333149 6L7.66673 6C7.72744 5.99998 7.78699 5.98335 7.83895 5.95191C7.89092 5.92048 7.93332 5.87543 7.96159 5.82163C7.98986 5.76782 8.00292 5.70731 7.99937 5.64662C7.99581 5.58593 7.97577 5.52737 7.94141 5.47725L4.27461 0.136213Z", fill="#4CA899")
                                                    span 20% more
                                    div(class="col-12 col-md-6 col-lg-3 mb-4 mb-md-0")
                                        div(class="p-8 border rounded-2")
                                            div(class="d-flex mb-6 align-items-start justify-content-between")
                                                span(class="d-inline-flex align-items-center justify-content-center bg-light-light rounded-2", style="width: 40px; height: 40px;")
                                                    svg(width="16", height="16", viewbox="0 0 16 16", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                        path(d="M2.1946 11.4494C1.35561 10.0351 1.06179 8.36309 1.36831 6.74744C1.67483 5.1318 2.56061 3.68362 3.85932 2.67485C5.15803 1.66607 6.78032 1.1661 8.42158 1.2688C10.0628 1.37151 11.6101 2.06983 12.773 3.23264C13.9358 4.39545 14.6341 5.94275 14.7368 7.58401C14.8395 9.22526 14.3396 10.8476 13.3308 12.1463C12.322 13.445 10.8738 14.3308 9.25821 14.6373C7.64256 14.9438 5.97059 14.65 4.55624 13.811L4.55626 13.811L2.22397 14.4773C2.12747 14.5049 2.02536 14.5062 1.92821 14.481C1.83106 14.4558 1.74242 14.4051 1.67145 14.3342C1.60049 14.2632 1.5498 14.1745 1.52462 14.0774C1.49945 13.9803 1.50071 13.8781 1.52829 13.7816L2.19466 11.4494L2.1946 11.4494Z", stroke="#5F27CE", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M5.75 6.59375H10.25", stroke="#5F27CE", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M5.75 9.40625H10.25", stroke="#5F27CE", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                                |                   
                                                span(class="badge bg-primary-light text-primary") 30 days
                                            h1(class="mb-4") $14,500
                                            p(class="mb-0")
                                                span Messages
                                                |                   
                                                span(class="text-danger ms-1")
                                                    svg(width="8", height="6", viewbox="0 0 8 6", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                        path(d="M3.7252 5.86379C3.75743 5.90613 3.79898 5.94045 3.84662 5.96408C3.89427 5.98771 3.94671 6 3.99988 6C4.05304 6 4.10549 5.98771 4.15313 5.96408C4.20078 5.94045 4.24233 5.90613 4.27455 5.86379L7.94134 0.522754C7.97571 0.472634 7.99575 0.414068 7.99931 0.353377C8.00286 0.292686 7.9898 0.232175 7.96153 0.178373C7.93326 0.124571 7.89086 0.0795221 7.83889 0.0480871C7.78693 0.0166521 7.72738 2.47717e-05 7.66667 -2.91301e-08L0.333088 -6.70252e-07C0.272378 2.412e-05 0.212828 0.0166514 0.160863 0.0480864C0.108899 0.0795214 0.066494 0.124571 0.0382243 0.178373C0.00995448 0.232175 -0.00310657 0.292686 0.000451105 0.353377C0.00400878 0.414068 0.0240502 0.472633 0.0584121 0.522753L3.7252 5.86379Z", fill="#EB3838")
                                                    span 20% less
                                    div(class="col-12 col-md-6 col-lg-3 px-4")
                                        div(class="p-8 border rounded-2")
                                            div(class="d-flex mb-6 align-items-start justify-content-between")
                                                span(class="d-inline-flex align-items-center justify-content-center bg-danger-light rounded-2", style="width: 40px; height: 40px;")
                                                    svg(width="16", height="16", viewbox="0 0 16 16", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                        path(d="M13.5 5H2.5C2.22386 5 2 5.22386 2 5.5V13.5C2 13.7761 2.22386 14 2.5 14H13.5C13.7761 14 14 13.7761 14 13.5V5.5C14 5.22386 13.7761 5 13.5 5Z", stroke="#E7430F", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M11 4V3C11 2.73478 10.8736 2.48043 10.6485 2.29289C10.4235 2.10536 10.1183 2 9.8 2H6.2C5.88174 2 5.57652 2.10536 5.35147 2.29289C5.12643 2.48043 5 2.73478 5 3V4", stroke="#E7430F", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                                        path(d="M2 8H14", stroke="#E7430F", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                                |                   
                                                span(class="badge bg-primary-light text-primary") 30 days
                                            h1(class="mb-4") 4
                                            p(class="mb-0")
                                                span Tasks
                                                |                   
                                                span(class="text-success ms-1")
                                                    svg(width="8", height="6", viewbox="0 0 8 6", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                        path(d="M4.27461 0.136213C4.24239 0.0938681 4.20084 0.0595451 4.15319 0.0359186C4.10555 0.0122921 4.0531 0 3.99994 0C3.94677 0 3.89433 0.0122921 3.84668 0.0359186C3.79904 0.0595451 3.75749 0.0938681 3.72526 0.136213L0.0584726 5.47725C0.0241109 5.52737 0.00406973 5.58593 0.000511956 5.64662C-0.00304582 5.70731 0.0100149 5.76782 0.0382846 5.82163C0.0665543 5.87543 0.10896 5.92048 0.160924 5.95191C0.212888 5.98335 0.272439 5.99998 0.333149 6L7.66673 6C7.72744 5.99998 7.78699 5.98335 7.83895 5.95191C7.89092 5.92048 7.93332 5.87543 7.96159 5.82163C7.98986 5.76782 8.00292 5.70731 7.99937 5.64662C7.99581 5.58593 7.97577 5.52737 7.94141 5.47725L4.27461 0.136213Z", fill="#4CA899")
                                                    span 20% more
                        div(class="row")
                            div(class="col-12 col-lg-6")
                                section(class="py-6")
                                    div(class="container")
                                        div(class="position-relative p-8 border rounded-2")
                                            a(class="position-absolute top-0 end-0 mt-4 me-4", href="#")
                                                svg(width="20", height="20", viewbox="0 0 20 20", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                    path(d="M13.5 11.5C14.3284 11.5 15 10.8284 15 10C15 9.17157 14.3284 8.5 13.5 8.5C12.6716 8.5 12 9.17157 12 10C12 10.8284 12.6716 11.5 13.5 11.5Z", fill="#7A899B")
                                                    path(d="M6.5 11.5C7.32843 11.5 8 10.8284 8 10C8 9.17157 7.32843 8.5 6.5 8.5C5.67157 8.5 5 9.17157 5 10C5 10.8284 5.67157 11.5 6.5 11.5Z", fill="#7A899B")
                                            div(class="d-flex mb-8 align-items-center")
                                                h6(class="mb-0") Profit
                                                span(class="badge ms-2 bg-success-light text-success") +7%
                                            h1(class="mb-8") $150.000.00
                                            div(class="chart", data-type="columns-stacked", style="min-height: 100px;")
                            div(class="col-12 col-lg-6")
                                section(class="py-6")
                                    div(class="container")
                                        div(class="position-relative p-8 border rounded-2")
                                            a(class="position-absolute top-0 end-0 mt-4 me-4", href="#")
                                                svg(width="20", height="20", viewbox="0 0 20 20", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                    path(d="M13.5 11.5C14.3284 11.5 15 10.8284 15 10C15 9.17157 14.3284 8.5 13.5 8.5C12.6716 8.5 12 9.17157 12 10C12 10.8284 12.6716 11.5 13.5 11.5Z", fill="#7A899B")
                                                    path(d="M6.5 11.5C7.32843 11.5 8 10.8284 8 10C8 9.17157 7.32843 8.5 6.5 8.5C5.67157 8.5 5 9.17157 5 10C5 10.8284 5.67157 11.5 6.5 11.5Z", fill="#7A899B")
                                            div(class="d-flex mb-8 align-items-center")
                                                h6(class="mb-0") Profit
                                                span(class="badge ms-2 bg-success-light text-success") +7%
                                            h1(class="mb-8") $150.000.00
                                            div(class="position-relative mb-4 bg-light rounded", style="height: 4px;")
                                                div(class="position-absolute top-0 bottom-0 start-0 bg-primary rounded", style="width: 35%;")
                                                    svg(class="position-absolute top-50 end-0 translate-middle-y", width="16", height="16", viewbox="0 0 16 16", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                        circle(cx="8", cy="8", r="8", fill="#2796CE")
                                                        g(filter="url(#filter0_d)")
                                                            circle(cx="8", cy="8", r="3", fill="white")
                                                        defs
                                                            filter(id="filter0_d", x="5", y="5", width="6", height="7", filterunits="userSpaceOnUse", color-interpolation-filters="sRGB")
                                                                feflood(flood-opacity="0", result="BackgroundImageFix")
                                                                fecolormatrix(in="SourceAlpha", type="matrix", values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0")
                                                                feoffset(dy="1")
                                                                fecolormatrix(type="matrix", values="0 0 0 0 0.02 0 0 0 0 0.14 0 0 0 0 0.38 0 0 0 0.4 0")
                                                                feblend(mode="normal", in2="BackgroundImageFix", result="effect1_dropShadow")
                                                                feblend(mode="normal", in="SourceGraphic", in2="effect1_dropShadow", result="shape")
                                            p(class="small") Your yearly goal
                        section(class="py-6")
                            div(class="container")
                                div(class="border rounded-2")
                                    div(class="pt-8 px-8 mb-8 border-bottom")
                                        h6 Order Book
                                        p(class="mb-4") Order book summary for the current period
                                        div
                                            a(class="btn py-4 border-0 rounded-0 border-bottom border-2 border-primary fw-bold text-dark", href="#") Current Orders
                                            a(class="btn py-4 border-0 rounded-0", href="#") Pending Delivery
                                            a(class="btn py-4 border-0 rounded-0", href="#") Completed
                                    div(class="pb-8")
                                        div(class="table-responsive border border-bottom-0 border-start-0 border-end-0 mb-4")
                                            table(class="table")
                                                thead
                                                    tr(class="table-active text-uppercase align-middle")
                                                        th(scope="col")
                                                            div(class="d-inline-flex align-items-center")
                                                                div(class="form-check ms-4 me-4")
                                                                    input(class="form-check-input", type="checkbox", value="")
                                                                small Authors
                                                        th(scope="col")
                                                            small Company
                                                        th(scope="col")
                                                            small Progress
                                                        th
                                                tbody
                                                    tr(class="fw-bold align-middle")
                                                        th(scope="row")
                                                            div(class="d-inline-flex align-items-center")
                                                                div(class="form-check ms-4 me-4")
                                                                    input(class="form-check-input", type="checkbox", value="")
                                                                span(class="d-inline-flex flex-shrink-0 align-items-center justify-content-center me-4 rounded-2 bg-primary-light text-primary", style="width: 48px; height: 48px;") Aa
                                                                div
                                                                    p(class="mb-0 text-dark") Ashton Cox
                                                                    p(class="fw-normal mb-0") ashton.cox@gmail.com
                                                        td(class="py-6")
                                                            p(class="mb-0 text-dark") Facebook
                                                            p(class="fw-normal mb-0") Facebook.com
                                                        td(class="py-6")
                                                            p(class="mb-1 fw-bold text-dark") 50%
                                                            div(class="position-relative bg-light", style="height: 4px;")
                                                                div(class="position-absolute top-0 bottom-0 start-0 bg-primary", style="width: 50%;")
                                                        td(class="p-6 text-end")
                                                            a(href="#")
                                                                svg(width="20", height="20", viewbox="0 0 20 20", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                                    path(d="M13.5 11.5C14.3284 11.5 15 10.8284 15 10C15 9.17157 14.3284 8.5 13.5 8.5C12.6716 8.5 12 9.17157 12 10C12 10.8284 12.6716 11.5 13.5 11.5Z", fill="#7A899B")
                                                                    path(d="M6.5 11.5C7.32843 11.5 8 10.8284 8 10C8 9.17157 7.32843 8.5 6.5 8.5C5.67157 8.5 5 9.17157 5 10C5 10.8284 5.67157 11.5 6.5 11.5Z", fill="#7A899B")
                                                    tr(class="fw-bold align-middle")
                                                        th(scope="row")
                                                            div(class="d-inline-flex align-items-center")
                                                                div(class="form-check ms-4 me-4")
                                                                    input(class="form-check-input", type="checkbox", value="")
                                                                span(class="d-inline-flex flex-shrink-0 align-items-center justify-content-center me-4 rounded-2 bg-primary-light text-primary", style="width: 48px; height: 48px;") Aa
                                                                div
                                                                    p(class="mb-0 text-dark") Ashton Cox
                                                                    p(class="fw-normal mb-0") ashton.cox@gmail.com
                                                        td(class="py-6")
                                                            p(class="mb-0 text-dark") Facebook
                                                            p(class="fw-normal mb-0") Facebook.com
                                                        td(class="py-6")
                                                            p(class="mb-1 fw-bold text-dark") 50%
                                                            div(class="position-relative bg-light", style="height: 4px;")
                                                                div(class="position-absolute top-0 bottom-0 start-0 bg-primary", style="width: 50%;")
                                                        td(class="p-6 text-end")
                                                            a(href="#")
                                                                svg(width="20", height="20", viewbox="0 0 20 20", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                                    path(d="M13.5 11.5C14.3284 11.5 15 10.8284 15 10C15 9.17157 14.3284 8.5 13.5 8.5C12.6716 8.5 12 9.17157 12 10C12 10.8284 12.6716 11.5 13.5 11.5Z", fill="#7A899B")
                                                                    path(d="M6.5 11.5C7.32843 11.5 8 10.8284 8 10C8 9.17157 7.32843 8.5 6.5 8.5C5.67157 8.5 5 9.17157 5 10C5 10.8284 5.67157 11.5 6.5 11.5Z", fill="#7A899B")
                                                    tr(class="fw-bold align-middle")
                                                        th(scope="row")
                                                            div(class="d-inline-flex align-items-center")
                                                                div(class="form-check ms-4 me-4")
                                                                    input(class="form-check-input", type="checkbox", value="")
                                                                span(class="d-inline-flex flex-shrink-0 align-items-center justify-content-center me-4 rounded-2 bg-primary-light text-primary", style="width: 48px; height: 48px;") Aa
                                                                div
                                                                    p(class="mb-0 text-dark") Ashton Cox
                                                                    p(class="fw-normal mb-0") ashton.cox@gmail.com
                                                        td(class="py-6")
                                                            p(class="mb-0 text-dark") Facebook
                                                            p(class="fw-normal mb-0") Facebook.com
                                                        td(class="py-6")
                                                            p(class="mb-1 fw-bold text-dark") 50%
                                                            div(class="position-relative bg-light", style="height: 4px;")
                                                                div(class="position-absolute top-0 bottom-0 start-0 bg-primary", style="width: 50%;")
                                                        td(class="p-6 text-end")
                                                            a(class="ms-8", href="#")
                                                                svg(width="20", height="20", viewbox="0 0 20 20", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                                    path(d="M13.5 11.5C14.3284 11.5 15 10.8284 15 10C15 9.17157 14.3284 8.5 13.5 8.5C12.6716 8.5 12 9.17157 12 10C12 10.8284 12.6716 11.5 13.5 11.5Z", fill="#7A899B")
                                                                    path(d="M6.5 11.5C7.32843 11.5 8 10.8284 8 10C8 9.17157 7.32843 8.5 6.5 8.5C5.67157 8.5 5 9.17157 5 10C5 10.8284 5.67157 11.5 6.5 11.5Z", fill="#7A899B")
                                        div(class="px-8")
                                            button(class="btn btn-outline-primary py-3 border-light w-100")
                                                svg(class="me-3", width="17", height="16", viewbox="0 0 17 16", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                    path(d="M2.5 8.2381H4.34615L6.65385 3L10.3462 13L12.6538 8.2381H14.5", stroke="#7A899B", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                                span Show all activities
                    div(class="container")
        script(src="js/bootstrap/bootstrap.bundle.min.js")
        script(src="js/main.js")
        script(src="https://cdn.jsdelivr.net/npm/apexcharts")
        script(src="js/charts-demo.js")
